<p class="text-xl font-semibold mb-4"><%= t 'views.public.patients.edit.appointment.title' %></p>
<p class="error-message hidden">Please choose at least one of the options below!</p>
<div class="field-side-by-side">
    <div>
        <table class="table mb-6">
            <thead>
                <tr>
                    <th> <%= t 'views.public.patients.edit.appointment.time' %> </th>
                    <th> <%= t 'views.public.patients.edit.appointment.available' %> </th>
                </tr>
            </thead>
            <tbody data-controller="consent-form-appointments">
                <%= fields_for :appointment do |af| %>
                    <% @clinic.appointment_times.each do |time| %>
                        <tr>
                            <td class="flex">
                                <% if @clinic.appointment_slots_for(time).to_i > 0 %>
                                     <%= af.radio_button(:appointment_at, time, class: "form-radio", required: "true", 
                                        data: { 
                                            target: "consent-form-appointments.appointmentAt", 
                                            action: "click->consent-form-appointments#validateWaitingList" }) %>
                                <% else %>
                                    <%= af.radio_button(:appointment_at, time, class: "form-radio", disabled: "true") %>
                                <% end %>
                                <span class="ml-2"><%= time %></span>
                            </td>
                            <td> <p> <%= @clinic.appointment_slots_for(time).to_i %> <%= t 'views.public.patients.edit.appointment.appointments_available' %> </p> </td>
                        </tr>
                    <% end %>
                    <tr class="border-t-4 border-gray-600">
                        <td>
                            <%= af.radio_button(:on_waiting_list, "1", class: "form-radio", required: "true", 
                                data: { 
                                    target: "consent-form-appointments.onWaitingList",
                                    action: "click->consent-form-appointments#validateAppointmentTimeInputs" }) %>
                            <span class="ml-1"><%= t 'views.public.patients.edit.appointment.waiting_list' %></span>
                        </td>
                        <td> <p><%= t 'views.public.patients.edit.appointment.contact' %></p> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<%= hidden_field_tag :next_step, "end_flag" %>