<p class="field-required mb-3"> You must complete all fields with a star. </p>
<p class="font-bold mb-4"> 
    If you have questions about COVID-19, please contact your doctor, 
    local health department, or go to 
    <%= link_to "www.cdc.gov/coronavirus", "www.cdc.gov/coronavirus", class: "underline", target: "_blank" %>
</p>

<p class="font-bold"> Consent for COVID-19 Testing - You Must Sign This to be Tested </p>
<div class="text-gray-600 py-4 rounded"> 
    <p> By signing this form, I give permission for a COVID-19 test to be administered and a 
        record of the test and results be entered into a database for use to monitor control of the disease.
        Further, I agree that the information above is correct, and:</p>
    <ol>
        <li> I have read information about the test or someone has explained it to me; </li>
        <li> I understand the risks and benefits of being tested and consent to be tested, and </li>
        <li> Any questions I had about the test have been answered. </li>
    </ol>
</div>

<p class="mt-10 font-semibold"> Sign here with your finger or stylus.</p>
<div class="border border-gray-400 mt-6 mb-4 w-1/2 h-40">
 <canvas></canvas>
</div>
<%# TODO: Move this into the proper place. %>
<script>
  var canvas = document.querySelector("canvas");
  var signaturePad = new SignaturePad(canvas);
</script>

<div class="field-side-by-side">
    <div>
        <%= f.label :consent_date, "Date", class: "block" %>
        <%= f.text_field :consent_date, value: Date.today.strftime("%m/%d/%y"), disabled: true, class: "form-input w-full" %>
    </div>
    <div> </div>
</div>

<div class="field-side-by-side">
    <div>
        <p class="label"> Please type your first and last name <span class="field-required">*</span></p>
        <div class="flex">
            <%= f.text_field :signatory_first_name, placeholder: "First Name", value: "", class: "flex-1 mr-3 form-input" %>
            <%= f.text_field :signatory_last_name, placeholder: "Last Name", value: "", class: "flex-1 form-input" %>
        </div>
    </div>
    <div>
        <%= f.label :relation_to_patient_for_insurance, "Relationship to Patient", class: "block" %>
        <%= f.select :relation_to_patient_for_insurance, ["Self","Parent/Guardian","Other"], {}, class: "form-select w-full" %>
    </div>
</div>

<%= hidden_field_tag :next_step, "appointment" %>
