<div class="field-side-by-side">
    <div>
        <%= f.label :county %>
        <%= f.select :county, options_for_select(COUNTIES, @patient.county),{}, {class: "w-full form-select", data: {action: "change->inventory-new-entry#updateModalField"}}%>
    </div>
    <div> </div>
</div>

<div class="field-side-by-side">
    <div class="flex">
        <div class="w-9/12 mr-2">
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, disabled: true, class: "form-input w-full", data: {action: "keyup->inventory-new-entry#updateModalField"} %>
        </div>
        <div class="flex-1">
            <%= f.label :middle_initial, "Middle Initial" %>
            <%= f.text_field :middle_initial, disabled: true, class: "form-input w-full", data: {action: "keyup->inventory-new-entry#updateModalField"} %>
        </div>
    </div>
    <div class="flex">
        <div class="flex-1 mr-2">
            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, disabled: true, class: "w-full form-input", data: {action: "keyup->inventory-new-entry#updateModalField"} %>
        </div>
        <div class="flex-1">
            <%= f.label :mothers_maiden_name, "Mother's Maiden Name" %>
            <%= f.text_field :mothers_maiden_name, class: "form-input w-full", data: {action: "keyup->inventory-new-entry#updateModalField"} %>
        </div>
    </div>
</div>

<div class="field-side-by-side">
    <div class="flex">
        <div class="flex-1 mr-2">
            <%= f.label :date_of_birth, "Date Of Birth" %>
            <%= f.date_field :date_of_birth, placeholder: "MM/DD/YYYY", onChange:"calculateAge();", id: "patient_date_of_birth", class: "w-full form-input", data: {action: "keyup->inventory-new-entry#updateModalField change->inventory-new-entry#updateModalField"} %>
        </div>
        <div class="flex-1 mr-2">
            <%= f.label :age %>
            <%= f.text_field :age, class: "w-full form-input", id: "patient_age", data: {action: "keyup->inventory-new-entry#updateModalField"} %>
        </div>
        <div class="flex-1">
            <%= f.label :sex, "Gender" %>
            <%= f.select :sex, [["Male", "M"], ["Female", "F"], ["Other", "O"]], {}, {class: "form-select w-full", data: {action: "change->inventory-new-entry#updateModalField"}} %>
        </div>
    </div>
    <div class="flex">
        <div class="flex-1 mr-2">
            <%= f.label :race %>
            <%= f.select :state, options_for_select(US_RACES, @patient.state), {}, class: "form-select w-full", data: {action: "change->inventory-new-entry#updateModalField"} %>
        </div>
        <div class="flex-1">
            <%= f.label :occupation %>
            <%= f.select :occupation, options_for_select(PATIENT_OCCUPATIONS, @patient.occupation), {prompt: "--"}, class: "form-select w-full", data: {action: "change->inventory-new-entry#updateModalField"} %>
        </div>
    </div>
</div>

<div class="field-side-by-side">
    <div class="flex">
        <div class="flex-1 mr-2">
            <%= f.label :address %>
            <%= f.text_field :address, id: "autocomplete", onFocus: "geolocate()", class: "form-input w-full", data: {action: "keyup->inventory-new-entry#updateModalField"} %>
            <%= render partial: "public/clinics/google_maps_script" %>
        </div>
        <div class="flex-1">
            <%= f.label :city %>
            <%= f.text_field :city, id: "locality", class: "form-input w-full" , data: {action: "keyup->inventory-new-entry#updateModalField"}%>
        </div>
    </div>
    <div class="flex">
        <div class="flex-1 mr-2">
            <%= f.label :state %>
            <%= f.select :state, options_for_select(US_STATES, @patient.state), {}, {id: "administrative_area_level_1", class: "form-select w-full", data: {action: "change->inventory-new-entry#updateModalField"}} %>
        </div>
        <div class="flex-1">
            <%= f.label :zip_code, "Zip Code" %>
            <%= f.text_field :zip_code, id: "postal_code", class: "form-input w-full", data: {action: "keyup->inventory-new-entry#updateModalField"} %>
        </div>
    </div>
</div>

<div class="field-side-by-side">
    <div>
        <%= f.label :email, "Email Address" %>
        <%= f.text_field :email, disabled: true, class: "form-input w-full" %>
    </div>
    <div>
        <%= f.label :phone_number, "Mobile or Daytime Number" %>
        <%= f.text_field :phone_number, class: "form-input w-full", data: {action: "keyup->inventory-new-entry#updateModalField"} %>
    </div>
</div>

<script>
    function calculateAge() {
        var patientAge = document.getElementById("patient_age");
        var patientDOB = document.getElementById("patient_date_of_birth");

        dob = new Date(patientDOB.value);
        var today = new Date();
        var age = Math.floor((today-dob) / (365.25 * 24 * 60 * 60 * 1000));

        patientAge.value = age.toString();
    }
</script>

<%= f.hidden_field :clinic_id, value: session[:clinic_id] %>
<%= hidden_field_tag :next_step, "health_insurance" %>
