<h1 class="text-xl font-bold mb-4 text-center">Review Your Details</h1>
<p class="text-blue-400 font-semibold text-lg p-2 mb-6">Please review all of the details you have entered. To make any corrections, please click Back to return to previous screens.</p>


<%# Personal Information %>
<%= render partial: '/public/patients/review/personal_information' %>

<%# Health Insurance %>
<%= render partial: '/public/patients/review/health_insurance' %>

<%# Health Questions %>
<h2 class="text-xl font-bold mb-4 mt-8"> Health Questions </h2>
<% if school_mode? %>
    <%= render partial: "public/patients/review/health_questions_school", locals: {patient: @patient} %>
<% else %>
    <%= render partial: "public/patients/review/health_questions_regular", locals: {patient: @patient} %>
<% end %>

<%# Consent for services %>
<%= render partial: '/public/patients/review/consent_for_services' %>

<%# Add Family %>
<%= render partial: "public/patients/review/add_family" %>

<%= hidden_field_tag :next_step, "appointment"%>