<p>Dear <%= @user.name %>,
<br />
A new public clinic has been created. Here are the details:
<p>
<ul>
    <li> Venue Name: <%= @clinic.venue_name %> </li>
    <li> Clinic Date: <%= @clinic.clinic_date %> </li>
    <li> Lead Vaccinator Name <%= @clinic.lead_vaccinator_name %> </li>
    <li> Students Registered: <%= @clinic.students_registered %> </li>
    <li> Clinic Status: <%= @clinic.clinic_status %> </li>
    <li> Outcome Comments: <%= @clinic.outcome_comments %> </li>
    <li> Clinic Start Time: <%= @clinic.start_time %> </li>
    <li> Clinic End Time: <%= @clinic.end_time  %> </li>
    <li> Clinic Duration: <%= @clinic.duration %> </li>
    <li> Clinic Age Groups: <%= @clinic.age_groups.map(&:name).join(", ") if @clinic.age_groups.any? %> </li>
    <li> Address: <%= @clinic.address %> </li>
    <li> Appointment Frequency Minutes: <%= @clinic.appointment_frequency_minutes %> </li>
    <li> Appointment Slots: <%= @clinic.appointment_slots %> </li>
    <li> Appointments Available: <%= @clinic.appointments_available %> </li>
    <li> County: <%= @clinic.county %> </li>
</ul>
