<p> <%= t('views.clinic_mailer.public_clinic_created.title_part_1', user_name: @user.name) %>,
<br />
<%= t('views.clinic_mailer.public_clinic_created.title_part_2') %>
<p>
<ul>
    <li> <%= t('views.clinic_mailer.public_clinic_created.venue', venue: @clinic.venue_name) %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.clinic_date', date: @clinic.clinic_date) %></li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.lead_vaccinator', name: @clinic.lead_vaccinator_name) %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.clinic_status', status: @clinic.public_or_private) %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.outcome', comments: @clinic.incidents_comments) %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.start_time', start_time: @clinic.start_time) %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.end_time', end_time: @clinic.end_time) %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.duration', duration: @clinic.duration) %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.age_groups') %> <%= @clinic.age_groups.map(&:name).join(", ") if @clinic.age_groups.any? %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.address', address: @clinic.address) %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.appointment_frequency', frequency: @clinic.appointment_frequency_minutes) %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.slots', slots: @clinic.appointment_slots) %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.available', available: @clinic.appointments_available) %> </li>
    <li> <%= t('views.clinic_mailer.public_clinic_created.county', county: @clinic.county) %> </li>
</ul>
