<tr data-target="clinic-activity-patients.searchableRow" data-search-content="<%= clinic.venue_name.downcase %>">
    <td class="w-1/4"> <%= clinic.clinic_date.to_datetime.strftime("%m-%d-%Y") %> </td>
    <td class=""> <%= clinic.county %> </td>
    <td class="w-1/4"> <%= clinic.venue_name %> </td>
    <td class="flex flex-wrap text-right">
        <%= link_to clinic_patients_path(clinic_id: clinic.id), class: "clinic-action hover:text-brand-blue-600 mr-4 mb-2" do %>
            <span class="text-brand-blue-600"> &raquo; </span>
            <span> Registration List </span>
        <% end %>
        <%= link_to edit_clinic_path(id: clinic.id), class: "clinic-action hover:text-brand-blue-600 mr-4 mb-2" do %>
            <span class="text-brand-blue-600"> &raquo; </span>
            <span> Edit Clinic </span>
        <% end %>
        <%= link_to clinic_activity_path(clinic_id: clinic.id), class: "clinic-action hover:text-brand-blue-600 mr-4 mb-2" do %>
            <span class="text-brand-blue-600"> &raquo; </span>
            <span> Clinic Activity </span>
        <% end %>
        <%= link_to supply_inventories_path(clinic_id: clinic.id), class: 'clinic-action hover:text-brand-blue-600 mr-4 mb-2' do %>
            <span class="text-brand-blue-600"> &raquo; </span>
            <span> Inventory Management </span>
        <% end %>
        <%= link_to "", class: 'clinic-action hover:text-brand-blue-600 mb-2' do %>
            <span class="text-brand-blue-600"> &raquo; </span>
            <span> Customized Report </span>
        <% end %>
    </td>
</tr>
