<% content_for :head_directives do %>
    <meta name="turbolinks-visit-control" content="reload">
<% end %>

<%= render "clinics/header" %>

<div class="clinic-events-page" data-controller="clinic-activity-patients">
    <div class="card-wrapper">
        <%= render 'clinics/activity/header' %>
        <div class="card-content">
            <%= form_with(model: @clinic, url: clinic_path(@clinic), method: :put) do |f| %>
                <%= render partial: 'clinics/activity/details', locals: {f: f} %>
                <%# render partial: 'clinics/supply_inventories', locals: {f: f} %>
                <%= render partial: 'clinics/activity/test_kits', locals: {f: f} %>

                <div class="button-container flex justify-end">
                    <input type="submit" name="save" value="Save" class="button-primary mr-2 mt-10">
                    <input type="submit" name="save-submit" value="Save and Submit" 
                           class="button-primary ml-2 bg-blue-500 text-white mt-10">
                </div>
            <% end %>

            <% if school_mode? %>
                <%= render partial: "clinics/activity/clinic_events_school" %>
            <% else %>
                <%= render partial: "clinics/activity/clinic_events_general" %>
            <% end %>
        </div>
    </div>
</div>

<%= render partial: '/clinics/activity/add_more_patients', 
    layout: "clinics/activity/add_patient_modal", 
    locals: {patient: @patient = Patient.new, event_form: nil, category_selection: 'AddPatient'} %>
