<div class="clinics-edit-page">
  <div class="container">
    <div class="card-wrapper">
      <div class="card-header">
        <h3>Edit a Public Clinic</h3>
        <div class="links-buttons">
          <%= link_to "Registration List", clinic_patients_path(clinic_id: @clinic.id), class: "clinic-action" %>
          <%= link_to "Clinic Activity", clinic_events_path(clinic_id: @clinic.id), class: "clinic-action" %>
        </div>
      </div>
      <div class="card-content">
        <%= form_with(model: @clinic, url: clinic_path(@clinic), method: :put) do |f| %>
          <div class="form-group">
            <div class="group-elem">
              <%= f.label :clinic_date, class: "form-question" do %>
                Clinic Date <span class="required-field">*</span>
              <% end %>
              <%= f.date_field :clinic_date, required: true %>
            </div>
            <div class="group-elem">
              <%= f.label :county, class: "form-question" do %>
                County <span class="required-field">*</span>
              <% end %>
              <%= f.select(:county, options_for_select(COUNTIES), {include_blank: "Please choose"}, required: true) %>
            </div>
          </div>
          <div class="form-group">
            <div class="group-elem">
              <%= f.label :address, class: "form-question" do %>
                Clinic Location <span class="required-field">*</span>
              <% end %>
              <%= f.select(:address, options_for_select(['Tester Middle School']), {include_blank: "Please choose"},
                           required: true) %>
            </div>
            <div class="group-elem">
              <%= f.label :students_registered, class: "form-question" do %>
                Number of Students Registered <span class="required-field">*</span>
              <% end %>
              <%= f.number_field :students_registered, required: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="group-elem">
              <%= f.label :lead_vaccinator_name, class: "form-question" do %>
                Lead Vaccinator's Name <span class="required-field">*</span>
              <% end %>
              <%= f.text_field :lead_vaccinator_name, required: true %>
            </div>
            <div class="group-elem">
              <label class="form-question">
                Clinic Staff Person's Name <span class="required-field">*</span>
              </label>
              <div class="fields flex flex-wrap">
                    <%= f.fields_for :clinic_personnel do |c| %>
                        <%= render 'clinics/clinic_personnel', f: c %>
                    <% end %>
                </div>
                <%= link_to_add_row('Add more staff', f, :clinic_personnel, class: 'text-xs text-red-600 pb-1 border-b-2 border-red-600 hover:text-red-500 hover:border-red-500') %>
            </div>
          </div>

          <div class="mt-8 border-t border-gray-200 pt-8 sm:mt-5 sm:pt-10">
            <div>
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Test Kits
                </h3>
            </div>
            <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-2 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <div class="mt-1 sm:mt-0 sm:col-span-3">
                    <div class="flex justify-end mb-4">
                        <%= link_to_add_test_kit('Add More Test Kits', f, :test_kits, class: 'max-w-xs inline-flex cursor-pointer justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out') %>
                    </div>
                    <div class="flex flex-col">
                        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                            <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                            <table class="min-w-full">
                                <thead>
                                <tr>
                                    <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Test Name
                                    </th>
                                    <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Test Manufacturer
                                    </th>
                                    <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Test Lot Number
                                    </th>
                                    <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Test Type
                                    </th>
                                    <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Processing
                                    </th>
                                    <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Test Expiration Date
                                    </th>
                                    <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Number of test kits
                                    </th>
                                    <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase"> Action </th>
                                </tr>
                                </thead>
                                <tbody class="bg-white" id="testKits">
                                    <%= f.fields_for :test_kits do |test_kit_fields| %>
                                        <%= render 'clinics/test_kit', f: test_kit_fields %>
                                    <% end %>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <div class="submit-buttons">
            <%= f.button "Review & Submit", class: "submit-button" %>
            <%= link_to "Cancel", clinics_path, class: "submit-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
