<div class="clinics-edit-page">
  <div class="container">
    <div class="card-wrapper">
      <div class="card-header">
        <h3>Edit a Public Clinic</h3>
        <div class="links-buttons">
          <%= link_to "Registration List", clinic_patients_path(clinic_id: @clinic.id), class: "clinic-action" %>
          <%= link_to "Clinic Activity", clinic_events_path(clinic_id: @clinic.id), class: "clinic-action" %>
        </div>
      </div>
      <div class="card-content">
        <%= form_with model: @clinic, class: "edit-new-form", local: true do |f| %>
          <div class="public-private-container">
            <fieldset>
              <p class="title">Is clinic public or private?</p>
              <div class="fields-container">
                <div class="field">
                  <%= f.radio_button :clinic_status, "public", id: "clinic_status_public", class: "form-radio" %>
                  <%= f.label :clinic_status, value: "public", for: "clinic_status_public" do %>
                    <span>Public</span>
                  <% end %>
                </div>
                <div class="field">
                  <%= f.radio_button :clinic_status, "private", id: "clinic_status_private", class: "form-radio" %>
                  <%= f.label :clinic_status, value: "private", for: "clinic_status_private" do %>
                    <span>Private</span>
                  <% end %>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="service-provider-open-section">
            <fieldset class="service-provider">
              <legend class="title">Services Provided</legend>
              <div class="checkbox-section">
                <%= collection_check_boxes(:clinic, :service_ids, ClinicService.all, :id, :name) do |b| %>
                  <div class="checkbox-container">
                    <div class="checkbox">
                      <%= b.check_box(class: "form-checkbox") %>
                    </div>
                    <div class="label">
                      <%= b.label %>
                    </div>
                  </div>
                <% end %>
              </div>
            </fieldset>

            <fieldset class="open-to">
              <legend class="title">Open to</legend>
              <div class="checkbox-section">
                <%= collection_check_boxes(:clinic, :age_group_ids, ClinicAgeGroup.all, :id, :name) do |b| %>
                  <div class="checkbox-container">
                    <div class="checkbox">
                      <%= b.check_box(class: "form-checkbox") %>
                    </div>
                    <div class="label">
                      <%= b.label %>
                    </div>
                  </div>
                <% end %>
              </div>
            </fieldset>
          </div>

          <div class="date-time-section">
            <h3 class="title">Date and Time</h3>
            <div class="clinic-date-time-section">
              <div class="date-time-inner">
                <div class="clinic-date">
                  <p class="label">Clinic Date</p>
                  <%= f.date_field :clinic_date, class: "form-input", placeholder: "MM/DD/YYYY" %>
                </div>
                <div class="start-time">
                  <p class="label"> Start Time </p>
                  <%= f.time_select :start_time,
                                    :combined => true,
                                    :default => Time.now.change(:hour => 11, :min => 30),
                                    :minute_interval => 15,
                                    :time_separator => "",
                                    :start_hour => 10,
                                    :start_minute => 30,
                                    :end_hour => 14,
                                    :end_minute => 30, class: "form-input" %>
                </div>

                <div class="end-time">
                  <p class="label"> End Time </p>
                  <%= f.time_select :end_time,
                                    :combined => true,
                                    :default => Time.now.change(:hour => 11, :min => 30),
                                    :minute_interval => 15,
                                    :time_separator => "",
                                    :start_hour => 10,
                                    :start_minute => 30,
                                    :end_hour => 14,
                                    :end_minute => 30, class: "form-input" %>
                </div>
              </div>
            </div>
            <div class="clinic-location-section">
              <h3 class="label">Clinic Location</h3>
              <div class="clinic-location col-span-2">
                <div class="county">
                  <%= f.select :county, COUNTIES, {prompt: "Select County"}, {class: "form-select"} %>
                </div>

                <div class="location">
                  <%= f.text_field :location, placeholder: "Location", class: "form-input" %>
                </div>

                <div class="address">
                  <%= f.text_field :address, id: "autocomplete", onFocus: "geolocate()", class: "form-input", placeholder: "Address" %>
                  <%= render partial: "public/clinics/google_maps_script" %>
                </div>
                <div class="zip-city-state">
                  <%= f.text_field :zip, placeholder: "Zip", id: "postal_code", class: "form-input" %>
                  <%= f.text_field :city, placeholder: "City", id: "locality", class: "form-input" %>
                  <%= f.text_field :state, placeholder: "State", id: "administrative_area_level_1", class: "form-input" %>
                </div>
              </div>
            </div>
          </div>

          <div class="appointment-info-section">
            <h3 class="title">Appointment Information</h3>
            <div class="appointment-info-section-inner">
              <fieldset>
                <div class="available-container">
                  <p class="label">Appointments available</p>
                  <div class="radio-section sm:col-span-2">
                    <div class="radio-section-inner">
                      <div class="radio-inputs">
                        <%= f.radio_button :appointments_available, "Yes, required", id: "yes_required", class: "form-radio" %>
                        <%= f.label :clinic_status, value: "public", for: "yes_required" do %>
                          <span> Yes, required </span>
                        <% end %>
                      </div>
                      <div class="radio-inputs">
                        <%= f.radio_button :appointments_available, "Yes, optional", id: "yes_optional", class: "form-radio" %>
                        <%= f.label :clinic_status, value: "public", for: "yes_optional" do %>
                          <span> Yes, optional </span>
                        <% end %>
                      </div>
                      <div class="radio-inputs">
                        <%= f.radio_button :appointments_available, "No (Walk-In)", id: "no_walk_in", class: "form-radio" %>
                        <%= f.label :clinic_status, value: "public", for: "no_walk_in" do %>
                          <span> No (Walk-In) </span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="frequency-container">
                  <p class="label">Appointment Frequency</p>
                  <div class="sm:col-span-2">
                    <div class="max-w-lg">
                      <div class="mt-4">
                        <label for="country">Appointment Frequency: Every</label>
                        <div class="frequency-minutes-section sm:col-span-2">
                          <div class="frequency-minutes-section-inner">
                            <%= f.select :appointment_frequency_minutes, [5, 15], {prompt: "Minutes"}, {class: "form-select"} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="slots-container">
                  <p class="label">Appointment Slots</p>
                  <div class="sm:col-span-2">
                    <div class="max-w-lg">
                      <div class="mt-4">
                        <label for="country">Number of Appointment Slots per Frequency</label>
                        <div class="appointment-slots mt-1 sm:col-span-2">
                          <div class="appointment-slots-inner">
                            <%= f.select :appointment_slots, (1..50), {prompt: "Select"}, {class: "form-select"} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="form-group">
            <div class="group-elem">
              <%= f.label :address, class: "form-question" do %>
                Clinic Location <span class="required-field">*</span>
              <% end %>
              <%= f.text_field :venue_name %>
            </div>
            <div class="group-elem">
              <%= f.label :students_registered, class: "form-question" do %>
                Number of Students Registered <span class="required-field">*</span>
              <% end %>
              <%= f.number_field :students_registered, required: true %>
            </div>
          </div>

          <div class="contact-section">
            <h3 class="title">Contact Information</h3>
            <div class="contact-section-inner">
              <div class="fields-container">
                <%= f.label :contact_person %>
                <div class="input-container">
                  <%= f.text_field :contact_person, placeholder: "Contact Person", class: "form-input" %>
                </div>
              </div>
              <div class="fields-container">
                <%= f.label :contact_phone_number %>
                <div class="input-container">
                  <%= f.text_field :contact_phone_number, placeholder: "Contact Number", class: "form-input" %>
                </div>
              </div>
              <div class="fields-container">
                <%= f.label :backup_contact_person %>
                <div class="input-container">
                  <%= f.text_field :backup_contact_person, placeholder: "Back-Up Contact Person", class: "form-input" %>
                </div>
              </div>
              <div class="fields-container">
                <%= f.label :backup_contact_phone_number %>
                <div class="input-container">
                  <%= f.text_field :backup_contact_phone_number, placeholder: "Back-Up Contact Number", class: "form-input" %>
                </div>
              </div>
              <div class="fields-container">
                <%= f.label :students_registered, "Number of Patients Registered" %>
                <div class="input-container">
                  <%= f.number_field :students_registered, class: "form-input" %>
                </div>
              </div>
            </div>
          </div>

          <div class="other-info-section">
            <h3 class="title">Other Information</h3>
            <div class="other-info-section-inner">
              <div class="notes-container">
                <%= f.label :incidents_comments, "Incidents Comments" %>
                <div class="input-container">
                  <%= f.text_area :incidents_comments, class: "form-textarea", placeholder: "Enter Details Here" %>
                </div>
              </div>
              <div class="clinic-staff-container">
                <div class="input-container">
                  <%= f.label :lead_vaccinator_name, "Lead Tester’s Name" %>
                  <%= f.text_field :lead_vaccinator_name, placeholder: "Lead Tester's Name", class: "form-input" %>
                </div>

                <div class="input-container">
                  <div class="fields">
                    <%= f.label :clinic_personnel do %>
                      Clinic Staff <span class="required-field">*</span>
                    <% end %>
                    <%= f.fields_for :clinic_personnel do |c| %>
                      <%= render 'clinics/clinic_personnel', f: c %>
                    <% end %>
                  </div>
                </div>
                <%= link_to_add_row('Add more staff', f, :clinic_personnel, class: 'add-more-staff-button') %>
              </div>
            </div>
          </div>
          <div class="mt-8 border-t border-gray-200 pt-8 sm:mt-5 sm:pt-10">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Test Kits
              </h3>
            </div>
            <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-2 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <div class="mt-1 sm:mt-0 sm:col-span-3">
                <div class="flex justify-end mb-4">
                  <%= link_to_add_test_kit('Add More Test Kits', f, :test_kits, class: 'max-w-xs inline-flex cursor-pointer justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out') %>
                </div>
                <div class="flex flex-col">
                  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                      <table class="min-w-full">
                        <thead>
                        <tr>
                          <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Test Name
                          </th>
                          <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Test Manufacturer
                          </th>
                          <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Test Lot Number
                          </th>
                          <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Test Type
                          </th>
                          <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Processing
                          </th>
                          <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Test Expiration Date
                          </th>
                          <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Number of test kits
                          </th>
                          <th class="px-1 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase">
                            Action
                          </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white" id="testKits">
                        <% @clinic.test_kits.each do |test_kit| %>
                          <%= f.fields_for :test_kits, test_kit do |test_kit_fields| %>
                            <%= render 'clinics/test_kit', f: test_kit_fields %>
                          <% end %>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="submit-buttons">
            <%= f.button "Review & Submit", class: "submit-button" %>
            <%= link_to "Cancel", clinics_path, class: "submit-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
