<%= content_for :prevent_unsaved_form_script do %>
    <%= javascript_pack_tag 'prevent_unsaved_form', 'data-turbolinks-track': 'reload' %>
<% end %>
<h1 class="main-title"> <%= @page_title %> </h1>

<% if @clinic.errors.any? || @errors.try(:any?) %>
  <div id="error_explanation" class="p-4 border-2 bg-red-100 border-red-500 mb-4">
 <h2 class="text-lg font-bold"><%= t('forms.messages.errors', count: @clinic.errors.count) %></h2>
    <ul class="list-disc ml-8">
    <% @clinic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <% @errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field-fullwidth">
    <span class="font-bold text-xl">Number of Patients Registered: </span>
    <span class="text-xl"><%= @clinic.appointments.size %></span>
</div>

<div>
    <%= form_with model: @clinic, local: true do |f| %>
        <div class="field-fullwidth">
            <p class="title">Is clinic public or private? <span class="field-required">*</span> </p>
            <div class="w-3/12 radio-buttons-container">
                <div>
                    <%= f.radio_button :public_or_private, "Public", class: "form-radio" %>
                    <%= f.label :public_or_private, "Public", for: "clinic_public_or_private_public" %>
                </div>
                <div>
                    <%= f.radio_button :public_or_private, "Private", class: "form-radio" %>
                    <%= f.label :public_or_private, "Private", for: "clinic_public_or_private_private" %>
                </div>
            </div>
        </div>

        <div class="field-side-by-side">
            <div>
                <p class="title">Services Provided <span class="field-required">*</span></p>
                <div class="w-full checkboxes-container">
                    <%= collection_check_boxes(:clinic, :service_ids, ClinicService.where(category: "clinics"), :id, :name) do |b| %>
                    <div>
                        <span> <%= b.check_box(class: "form-checkbox") %> </span>
                        <span class="label"> <%= b.label %> </span>
                    </div>
                    <% end %>
                </div>
            </div>

            <div>
                <p class="title">Open to <span class="field-required">*</span></p>
                <div class="w-full checkboxes-container">
                    <%= collection_check_boxes(:clinic, :age_group_ids, ClinicAgeGroup.all, :id, :name) do |b| %>
                    <div>
                        <span> <%= b.check_box(class: "form-checkbox") %> </span>
                        <span class="label"> <%= b.label %> </span>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="field-side-by-side"  data-controller="select-child-items">
            <div>
            <%= f.label :county, class: "block" do %>
                    <span> County </span>
                    <span class="field-required">*</span>
                <% end %>
                <% county_options = Venue.all.collect(&:county).uniq.collect{|c| [c, c, data: {child_items: options_for_select(Venue.where(county: c).order(:name).collect{|v| [v.name, v.id]}, f.object.venue_id) }]} %>
                <%= f.select :county, county_options, {prompt: "Select"}, {class: "form-select w-full", required: true, data: {target: 'select-child-items.parent', action: 'select-child-items#update'}} %>
            </div>
            <div>
                <%= f.label :venue_id, class: "block" do %>
                    <span> Venue </span>
                    <span class="field-required">*</span>
                <% end %>
                <%= f.select :venue_id, options_for_select([]), {prompt: "Select"}, {class: "form-select w-full", data: {target: 'select-child-items.children'}} %>
            </div>
            <div></div>
        </div>

        <div class="field-side-by-side">
            <div>
                <h1 class="title">Date, Time, Location</h1>
                <div data-controller="add-another">
                    <div data-target="add-another.fieldContainer">
                        <% params[:clinic_dates].reject!(&:blank?) if params[:clinic_dates] %>
                        <%= render partial: "clinic_date", collection: (params[:clinic_dates] || [""]) %>
                        <div data-target="add-another.blankFields" class="hidden">
                            <%= render partial: "clinic_date", locals: {clinic_date: ""} %>
                        </div>
                    </div>
                    <a href="#" data-action="add-another#addAnother" class="button-action mb-2">Add Another Date</a>
                </div>

                <p class="label">Start Time <span class="field-required">*</span></p>
                <%
                    start_time = Time.parse("1 AM").to_i
                    end_time = Time.parse("12 PM").to_i
                    values = (start_time..end_time).step(15.minutes)
                %>
                <select class="hour form-select" name="clinic[start_hour_minute]" id="clinic_start_hour_minute" required="true">
                    <%= options_for_select(values.map{ |t| Time.at(t).strftime("%l:%M") }, @clinic.start_time ? @clinic.start_time.strftime('%I:%M') : " 9:00") %>
                </select>

                <select class="meridiem form-select" name="clinic[start_meridiem]" id="clinic_start_meridiem" required="true">
                    <%= options_for_select(['AM', 'PM'], @clinic.start_time ? @clinic.start_time.strftime("%p") : nil) %>
                </select>

                <p class="label">End Time <span class="field-required">*</span></p>
                <select class="hour form-select" name="clinic[end_hour_minute]" id="clinic_end_hour_minute" required="true">
                    <%= options_for_select(values.map{ |t| Time.at(t).strftime("%l:%M") }, @clinic.end_time ? @clinic.end_time.strftime('%I:%M') : " 5:00") %>
                </select>

                <select name="clinic[end_meridiem]" class="meridiem form-select" id="clinic_end_meridiem" required="true">
                    <%= options_for_select(['AM', 'PM'], @clinic.end_time ? @clinic.end_time.strftime("%p") : "PM") %>
                </select>
            </div>

            <div>
                <h1 class="title"> &nbsp; </h1>
                

                <%= f.label :venue_name, class: "block" %>
                <%= f.text_field :venue_name, placeholder: "Venue Name", class: "form-input w-full" %>

                <%= f.label :address, class: "block" %>
                <%= f.text_field :address, id: "autocomplete", onFocus: "geolocate()", class: "form-input w-full", placeholder: "Address" %>
                <%= render partial: "public/clinics/google_maps_script" %>

                <div class="grid grid-cols-3 gap-4">
                    <div>
                        <%= f.label :zip, "Zip Code", class: "block" %>
                        <%= f.text_field :zip, placeholder: "Zip", id: "postal_code", class: "form-input" %>
                    </div>
                    <div>
                        <%= f.label :city, class: "block" %>
                        <%= f.text_field :city, placeholder: "City", id: "locality", class: "form-input" %>
                    </div>
                    <div>
                        <%= f.label :state, class: "block" %>
                        <%= f.text_field :state, placeholder: "State", id: "administrative_area_level_1", class: "form-input" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="field-fullwidth">
            <h1 class="title"> Appointment Information </h1>
            <p class="label"> Appointments available <span class="field-required">*</span> </p>
            <div class="w-2/4 radio-buttons-container mb-4">
                <div>
                    <%= f.radio_button :appointments_available, "yes_required", class: "form-radio" %>
                    <%= f.label :appointments_available, "Yes, required", for: "clinic_appointments_available_yes_required" %>
                </div>

                <div>
                    <%= f.radio_button :appointments_available, "yes_optional", class: "form-radio" %>
                    <%= f.label :appointments_available, "Yes, optional", for: "clinic_appointments_available_yes_optional" %>
                </div>

                <div>
                    <%= f.radio_button :appointments_available, "no_walk_in", class: "form-radio" %>
                    <%= f.label :appointments_available, "No (Walk-In)", for: "clinic_appointments_available_no_walk_in" %>
                </div>
                <div>
                    <%= f.label :active_queue_patients_count, "Social Distancing Capacity" %>
                    <%= f.select :active_queue_patients_count, (0..100).to_a, {prompt: "Select"}, {class: "form-select w-full"} %>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <%= f.label :appointment_frequency_minutes, "Appointment Frequency: Every", class: "block" %>
                    <%= f.select :appointment_frequency_minutes, CLINIC_APPOINTMENT_INTERVALS, {prompt: "Minutes"}, {class: "form-select w-full"} %>
                </div>

                <div>
                    <%= f.label :appointment_slots, "Appointment Slots", class: "block" %>
                    <%= f.select :appointment_slots, (1..50), {prompt: "Select"}, {class: "form-select w-full"} %>
                </div>
            </div>
        </div>

        <div class="pb-3 border-b border-gray-200 mb-6 flex flex-wrap">
            <h1 class="form-section-title">Contact Information</h1>
            <div class="w-5/12 mr-6">
                <%= f.label :contact_person, "Contact Person" %>
                <%= f.text_field :contact_person, placeholder: "Contact Person", class: "form-input w-full" %>
            </div>
            <div class="w-5/12 mr-6">
                <%= f.label :contact_phone_number, "Contact Phone Number" %>
                <%= f.text_field :contact_phone_number, placeholder: "Contact Number", class: "form-input w-full" %>
            </div>
            <div class="w-5/12 mr-6">
                <%= f.label :contact_email, "Contact E-mail" %>
                <%= f.email_field :contact_email, placeholder: "Contact Email Address", class: "form-input w-full" %>
            </div>
            <div class="w-5/12 mr-6">
                <%= f.label :backup_contact_person, "Back-Up Contact Person" %>
                <%= f.text_field :backup_contact_person, placeholder: "Back-Up Contact Person", class: "form-input w-full" %>
            </div>
            <div class="w-5/12 mr-6">
                <%= f.label :backup_contact_phone_number, "Back-Up Contact Phone Number" %>
                <%= f.text_field :backup_contact_phone_number, placeholder: "Back-Up Contact Number", class: "form-input w-full" %>
            </div>
            <div class="w-5/12 mr-6">
                <%= f.label :backup_contact_email, "Back-Up Contact E-mail" %>
                <%= f.email_field :backup_contact_email, placeholder: "Back-Up Contact Email Address", class: "form-input w-full" %>
            </div>
        </div>

        <div class="field-fullwidth">
            <h3 class="title"> Additional Clinic Details </h3>
            <div class="grid grid-cols-2 gap-4 items-start">
                <div class="col-span-2">
                    <%= f.label :incidents_comments, "Incidents Comments", class: "block" %>
                    <%= f.text_area :incidents_comments, placeholder: "Enter Details Here", class: "form-textarea w-1/2" %>
                </div>
            </div>
        </div>

        <div class="field-fullwidth">
            <h3 class="title"> Registration and Staff </h3>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <%= f.label :lead_vaccinator_name, "Lead Tester’s Name", class: "block" %>
                    <%= f.text_field :lead_vaccinator_name, placeholder: "Lead Tester's Name", class: "form-input w-full" %>
                </div>
            </div>

            <h1 class="title"> &nbsp; </h1>
            <p class="label w-full"> Clinic Staff </p>
            <div class="fields grid grid-cols-2 gap-3">
                <%= f.fields_for :clinic_personnel do |c| %>
                    <%= render 'clinics/clinic_personnel', f: c %>
                <% end %>
            </div>
            <%= link_to_add_row('Add more staff', f, :clinic_personnel, class: 'button-add-more-staff') %>
        </div>

        <%= render partial: 'supply_inventories', locals: {f: f} %>


<!--
        <div class="field-fullwidth">
            <h1 class="title"> Test Kits </h1>
            <div class="flex justify-end mb-4">
                <%= link_to_add_test_kit('Add More Test Kits', f, :test_kits, class: 'button-primary') %>
            </div>
            <div class="flex flex-col">
                <div class="-my-2 py-2 sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                    <div class="align-middle inline-block min-w-full border-b border-gray-200">
                        <table class="table" style="overflow: visible">
                            <thead>
                                <tr>
                                    <th> Test Name </th>
                                    <th> Manufacturer </th>
                                    <th> Lot Number </th>
                                    <th> Type </th>
                                    <th> Processing </th>
                                    <th> Expiration Date </th>
                                    <th> # of Test Kits </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody class="bg-white" id="testKits">
                                <%= f.fields_for :test_kits do |test_kit_fields| %>
                                    <%= render 'clinics/test_kit', f: test_kit_fields %>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
-->
        <%= hidden_field_tag "reviewed", false, id: "reviewed_form_hidden_tag" %>

        <div class="flex justify-end mt-8">
            <%# submit_tag 'Preview & Submit', name: 'preview_button', class: "button-primary" %>
            <%= f.submit 'Submit', class: "button-primary" %>
            <%= link_to "Cancel", clinics_path, class: "button-primary" %>
        </div>
    <% end %>
</div>