<%= content_for :prevent_unsaved_form_script do %>
  <%= javascript_pack_tag 'prevent_unsaved_form', 'data-turbolinks-track': 'reload' %>
<% end %>
<h1 class="main-title mt-8 md:mt-0"> <%= t 'views.public.patients.edit.title' %> <%= @clinic.name %></h1>

<%= form_for(@patient, url: "/client/registration", remote: false, data: {controller: "inventory-new-entry"}) do |f| %>
  <div class="min-w-full mb-12 hidden md:block">
    <ul class="multistep-form-progressbar">
      <% %w(personal_information health_insurance health_questions consent_for_services add_family appointment).each do |step| %>
        <li class="<%= 'active' if step == @step %>"> <%= step.humanize.titleize %> </li>
      <% end %>
    </ul>
  </div>

  <div class="min-w-full mb-12 block md:hidden">
    <ul class="multistep-form-progressbar">
      <% %w(personal_information health_insurance health_questions consent_for_services add_family appointment).each do |step| %>
        <li class="<%= 'active' if step == @step %>"> <%= step.humanize.titleize if step == @step %> </li>
      <% end %>
    </ul>
  </div>


  <% if false # @patient.errors.any? %>
    <div id="error_explanation" class="p-4 border-2 bg-red-100 border-red-500 mb-4">
      <h2 class="text-lg font-bold"><%= pluralize(@patient.errors.count, "item") %> remaining to complete your
        application:</h2>

      <ul class="list-disc ml-8">
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render '/public/patients/edit/' + @step, f: f %>

  <div class="md:flex justify-center items-center mt-6">
    <% if last_step %>
      <button type="submit" name="next_step" value="<%= last_step %>" class="button-action mb-4 md:mb-0">
        <%= t'views.public.patients.edit.buttons.back' %>
      </button>
    <% end %>
    <% if @step == "consent_for_services" %>
      <button type="submit" name="next_step" value="add_family" class="button-action mb-4 md:mb-0">
        <%= t'views.public.patients.edit.buttons.save_add_household_member' %>
      </button>
      <button type="submit" name="next_step" value="appointment" class="button-action mb-4 md:mb-0">
        <%= t'views.public.patients.edit.buttons.review_submit' %>
      </button>
    <% elsif @step == "add_family" %>
      <button type="submit" name="next_step" value="add_another_family" class="button-action mb-4 md:mb-0">
        <%= t'views.public.patients.edit.buttons.save_add_another_household_member' %>
      </button>
      <button type="submit" name="next_step" value="appointment" class="button-action"><%= t'views.public.patients.edit.buttons.save_continue' %></button>
    <% else %>
      <% if @step == "appointment" %>
        <%= link_to t('views.public.patients.edit.buttons.find_location'), '/clinic/search?service[]=Testing&next_step=appointment', class: "button-action" %>
      <% end %>
      <%= submit_tag t('views.public.patients.save_and_continue'), class: "button-action", id: "submitButton" %>
    <% end %>
    <%# if @step == "consent_for_services" %>
    <%# submit_tag "Save and Add Family Member →", class: "button-action" %>
    <%# end %>

  </div>
<% end %>
