<h1 class="main-title">Register for COVID-19 Testing: <%= @clinic.name %></h1>

<%= form_for( @patient , url: "/client/registration" ,remote: false) do |f| %>
    <div class="min-w-full mb-12">
        <ul class="multistep-form-progressbar">
            <% %w(personal_information health_insurance health_questions consent_for_services appointment).each do |step| %>
                <li class="<%= 'active' if step == @step %>"> <%= step.humanize.titleize %> </li>
            <% end %>
        </ul>
    </div>

    <!-- <a href="/clear_session">&mdash;</a> <br/><br/> -->

    <%= render '/public/patients/edit/' + @step, f: f %>

    <div class="flex justify-center">
    <%= submit_tag "Save and Continue →", class: "button-action mt-10" %>
    <% if @step == "consent_for_services" %>
        <%= submit_tag "Save and Add Family Member →", class: "button-action" %>
    <% end %>
    </div>
<% end %>