<div class="opacity-0 pointer-events-none fixed bottom-0 inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center z-50" id="InventoryNewEntryModal">
    <!--
    Background overlay, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
    <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <!--
    Modal panel, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      To: "opacity-100 translate-y-0 sm:scale-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100 translate-y-0 sm:scale-100"
      To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
  -->
    <div
        class="relative bg-white rounded-lg px-4 pt-5 pb-4 overflow-hidden shadow-xl transform transition-all sm:p-6">
        <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
            <button data-action="click->inventory-new-entry#toggleModal" type="button"
                class="text-gray-400 hover:text-gray-500 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div>
            <div class="w-11/12 mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h1 class="main-title pb-4 border-b"> Inventory Management </h1>
                <div class="mt-4">
                    <div class="sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-4 lg:gap-6">
                        <div>
                            <%= f.label :source do %>
                                <span class="text-gray-500"> Source of Items </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.select :source, INVENTORY_SOURCES, {prompt: "Select"}, {class: "block form-select w-full", disabled: true, id: "modal_supply_inventory_source"} %>
                        </div>

                        <div>
                            <%= f.label :item_type do %>
                                <span class="text-gray-500"> Item Type </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.select :item_type, INVENTORY_ITEM_TYPES, {prompt: "Select"}, {class: "block form-select w-full", disabled: true, id: "modal_supply_inventory_item_type"} %>
                        </div>

                        <div>
                            <%= f.label :received_at do %>
                                <span class="text-gray-500"> Received Date </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.date_field :received_at, class: "form-input block w-full", placeholder: "MM/DD/YYYY", disabled: true, id: "modal_supply_inventory_received_at" %>
                        </div>

                        <div>
                            <%= f.label :quantity do %>
                                <span class="text-gray-500"> Number of Items </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.number_field :quantity, class: "form-input block w-full", disabled: true, id: "modal_supply_inventory_quantity" %>
                        </div>

                        <div>
                            <%= f.label :lot_number do %>
                                <span class="text-gray-500"> Lot Number </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.text_field :lot_number, class: "form-input block w-full", disabled: true, id: "modal_supply_inventory_lot_number" %>
                        </div>

                        <div>
                            <%= f.label :expiration_date do %>
                                <span class="text-gray-500"> Expiration Date </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.date_field :expiration_date, class: "form-input block w-full", placeholder: "MM/DD/YYYY", disabled: true, id: "modal_supply_inventory_expiration_date" %>
                        </div>

                        <div>
                            <%= f.label :packaging do %>
                                <span class="text-gray-500"> Inventory Packaging </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.select :packaging, INVENTORY_PACKAGINGS, {prompt: "Select"}, {class: "block form-select w-full", disabled: true, id: "modal_supply_inventory_packaging"} %>
                        </div>

                        <div>
                            <%= f.label :manufacturer do %>
                                <span class="text-gray-500"> Manufacturer </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.select :manufacturer, INVENTORY_MANUFACTURERS, {prompt: "Select"}, {class: "block form-select w-full", disabled: true, id: "modal_supply_inventory_manufacturer"} %>
                        </div>

                        <div>
                            <%= f.label :product_name do %>
                                <span class="text-gray-500"> Product Name </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.text_field :product_name, class: "form-input block w-full", disabled: true, id: "modal_supply_inventory_product_name" %>
                        </div>

                        <div>
                            <%= f.label :county do %>
                                <span class="text-gray-500"> County </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.select :county, COUNTIES, {prompt: "Select"}, {class: "block form-select w-full", required: true, disabled: true, id: "modal_supply_inventory_county"} %>
                        </div>

                        <div>
                            <%= f.label :venue_name do %>
                                <span class="text-gray-500"> Venue </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.select :venue_name, Clinic.pluck(:venue_name), {prompt: "Select"}, {class: "block form-select w-full", required: true, disabled: true, id: "modal_supply_inventory_venue_name"} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
            <span class="flex w-full sm:ml-3 sm:w-auto">
                <%= f.submit "Submit", class: "button-primary" %>
            </span>
            <span class="mt-3 flex w-full sm:mt-0 sm:w-auto">
                <button type="button" data-action="click->inventory-new-entry#toggleModal" class="button-primary">
                    Close
                </button>
            </span>
        </div>
    </div>
</div>