<h2 class="main-title"> Inventory Management </h2>

<% if @supply_inventory.errors.any? %>
  <div id="error_explanation" class="p-4 border-2 bg-red-100 border-red-500 mb-4"> 
    <h2 class="text-lg font-bold"><%= pluralize(@supply_inventory.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul class="list-disc ml-8">
    <% @supply_inventory.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= link_to 'Upload Supplies', new_supply_inventories_import_path, class: "w-2/12 button-primary" %>

<%= form_with model: @supply_inventory, local: true, class: "py-5", data: {controller: "inventory-new-entry", target: "inventory-new-entry.form"} do |f| %>
    <div class="sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-4 lg:gap-6">
        <div>
            <%= f.label :received_at do %>
                <span class="text-gray-500"> Received Date </span>
                <span class="text-brand-red-500">*</span>
            <% end %>
            <%= f.text_field :received_at, class: "form-input block w-full", placeholder: "MM/DD/YYYY", required: true,
                    data: { controller: "flatpickr",
                            flatpickr_max_date: "today",
                            action: "change->inventory-new-entry#updateModalField
                                    keyup->inventory-new-entry#updateModalField
                                    blur->inventory-new-entry#validateInputField" } %>
            <p class="error-message hidden"> This field is required! </p>
        </div>

        <div>
            <%= f.label :item_type do %>
                <span class="text-gray-500"> Item Type </span>
                <span class="text-brand-red-500">*</span>
            <% end %>
            <%= f.select :item_type, VACCINE_ITEM_TYPES, {prompt: "Select"}, {class: "block form-select w-full", required: true,
                data: {action: "change->inventory-new-entry#updateModalField
                                blur->inventory-new-entry#validateInputField"}} %>
                <p class="error-message hidden"> This field is required! </p>
        </div>

        <div>
            <%= f.label :product_name do %>
                <span class="text-gray-500"> Product Name </span>
                <span class="text-brand-red-500">*</span>
            <% end %>
            <%= f.text_field :product_name, class: "form-input block w-full", required: true,
                    data: {action: "change->inventory-new-entry#updateModalField
                                    keyup->inventory-new-entry#updateModalField
                                    blur->inventory-new-entry#validateInputField"} %>
                <p class="error-message hidden"> This field is required! </p>
        </div>

        <div>
            <%= f.label :manufacturer do %>
                <span class="text-gray-500"> Manufacturer </span>
                <span class="text-brand-red-500">*</span>
            <% end %>
            <%= f.select :manufacturer, INVENTORY_MANUFACTURERS, {prompt: "Select"}, {class: "block form-select w-full", required: true,
            data: {action: "change->inventory-new-entry#updateModalField
                            blur->inventory-new-entry#validateInputField"}} %>
            <p class="error-message hidden"> This field is required! </p>
        </div>

        <div>
            <%= f.label :lot_number do %>
                <span class="text-gray-500"> Lot Number </span>
                <span class="text-brand-red-500">*</span>
            <% end %>
            <%= f.text_field :lot_number, class: "form-input block w-full", required: true,
                    data: {action: "change->inventory-new-entry#updateModalField
                                    keyup->inventory-new-entry#updateModalField
                                    blur->inventory-new-entry#validateInputField"} %>
            <p class="error-message hidden"> This field is required! </p>
        </div>

        <div>
            <%= f.label :expiration_date do %>
                <span class="text-gray-500"> Expiration Date </span>
                <span class="text-brand-red-500">*</span>
            <% end %>
            <%= f.text_field :expiration_date, class: "form-input block w-full", placeholder: "MM/DD/YYYY", required: true,
                    data: { controller: "flatpickr",
                            flatpickr_min_date: "today",
                            action: "change->inventory-new-entry#updateModalField
                                    keyup->inventory-new-entry#updateModalField
                                    blur->inventory-new-entry#validateInputField" } %>
            <p class="error-message hidden"> This field is required! </p>
        </div>

        <div>
            <%= f.label :quantity do %>
                <span class="text-gray-500"> Number of Items </span>
                <span class="text-brand-red-500">*</span>
            <% end %>
            <%= f.number_field :quantity, class: "form-input block w-full", min: 1, required: true,
                    data: {action: "change->inventory-new-entry#updateModalField
                                    keyup->inventory-new-entry#updateModalField
                                    blur->inventory-new-entry#validateInputField
                                    keypress->inventory-new-entry#preventNegativeNumber"} %>
            <p class="error-message hidden"> This field is required! </p>
        </div>

        <div>
            <%= f.label :packaging do %>
                <span class="text-gray-500"> Inventory Packaging </span>
                <span class="text-brand-red-500">*</span>
            <% end %>
            <%= f.select :packaging, INVENTORY_PACKAGINGS, {prompt: "Select"}, {class: "block form-select w-full", required: true,
                data: {action: "change->inventory-new-entry#updateModalField
                                blur->inventory-new-entry#validateInputField"}} %>
            <p class="error-message hidden"> This field is required! </p>
        </div>

        <div>
            <%= f.label :source do %>
                <span class="text-gray-500"> Source of Items </span>
                <span class="text-brand-red-500">*</span>
            <% end %>
            <%= f.select :source, INVENTORY_SOURCES, {prompt: "Select"}, {class: "block form-select w-full", required: true,
                data: {action: "change->inventory-new-entry#updateModalField
                                blur->inventory-new-entry#validateInputField"}} %>
            <p class="error-message hidden"> This field is required! </p>
        </div>

        <div>
            <%= f.label :county do %>
                <span class="text-gray-500"> County </span>
                <span class="text-brand-red-500">*</span>
            <% end %>
            <%= f.select :county, COUNTIES, {prompt: "Select"}, {class: "block form-select w-full", required: true,
            data: {action: "change->inventory-new-entry#updateModalField
                            blur->inventory-new-entry#validateInputField"}} %>
            <p class="error-message hidden"> This field is required! </p>
        </div>

        <div>
            <%= f.label :venue_name do %>
                <span class="text-gray-500"> Venue </span>
                <span class="text-brand-red-500">*</span>
            <% end %>
            <%= f.select :venue_name, Clinic.pluck(:venue_name), {prompt: "Select"}, {class: "block form-select w-full", required: true,
                    data: {action: "change->inventory-new-entry#updateModalField
                                    blur->inventory-new-entry#validateInputField"}} %>
            <p class="error-message hidden"> This field is required! </p>
        </div>

        <div>
            <%= f.label :information_sheet do %>
                <span class="text-gray-500"> Information Sheet </span>
            <% end %>
            <%= f.file_field :information_sheet, class: 'block form-input w-full' %>
        </div>
    </div>

    <div class="flex justify-end items-end mt-2 mb-8">
        <button type="submit" class="button-primary"> Create </p>
    </div>

    <%= render partial: "supply_inventories/new_entry_review", locals: {f: f} %>
<% end %>

<div data-controller="clinic-activity-patients">
    <form class="flex justify-start items-center mt-12">
        <label class="flex text-lg mr-3 align-middle text-gray-600 block mb-2" for="search"> Search: </label>
        <input class="form-input w-2/12" id="search" data-action="keyup->clinic-activity-patients#search" type="text">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th> Date Received </th>
                <th> Item Type </th>
                <th> Item Name </th>
                <th> Manufacturer </th>
                <th> Source </th>
                <th> Lot <br /> Number </th>
                <th> Expiration <br /> Date </th>
                <th> Starting Qty </th>
                <th> Pkg </th>
                <th> Qty<br>Used </th>
                <th> Qty<br>Lost </th>
                <th> Qty<br>Loaned </th>
                <th> Current<br>Qty </th>
                <th> Select<br>Item</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <% @supply_inventories.each do |supply_inventory| %>
                <tr class="hover:bg-gray-50" data-target="clinic-activity-patients.searchableRow" data-search-content="<%= supply_inventory.item_type.try(:downcase) %>">
                    <td> <%= supply_inventory.received_at.strftime("%m-%d-%Y") %> </td>
                    <td> <%= supply_inventory.item_type %> </td>
                    <td class="underline"> <%= link_to supply_inventory.product_name, supply_inventory %> </td>
                    <td> <%= supply_inventory.manufacturer %> </td>
                    <td> <%= supply_inventory.source %> </td>
                    <td> <%= supply_inventory.lot_number %> </td>
                    <td> <%= supply_inventory.expiration_date.strftime("%m-%d-%Y") %> </td>
                    <td> <%= supply_inventory.quantity %> </td>
                    <td> <%= supply_inventory.packaging %> </td>
                    <td> <%= supply_inventory.quantity_used_sum %> </td>
                    <td> <%= supply_inventory.quantity_lost_sum %> </td>
                    <td> <%= supply_inventory.quantity_loaned_sum %> </td>
                    <td> <%= supply_inventory.remaining_quantity_sum %> </td>
                    <td> 
                    <div class="flex items-center h-5">
                        <input id="providers" type="checkbox" class="form-checkbox">
                    </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="flex justify-end mt-4">
    <button class="button-primary">Sync Selected Data</button>
</div>
