<div class="sessions-container container">
  <div class="logo-headers">
    <div class="mpp-logo"><%= image_tag 'logo.png' %></div>
    <div class="msp-logo"><%= image_tag 'msp.png' %></div>
  </div>
  <div class="login-section">
    <div class="header">
      <h2>Signup</h2>
    </div>
    <div class="login-inner-container">
      <div class="wizard-logo"><%= image_tag 'clinicwizard_white_bg.png' %></div>
      <div class="form-container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f| %>
          <div class="field">
           <span><%= image_tag 'mail.png' %></span> <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address" %>
          </div>

          <div class="field">
            <span class="lock-icon"><%= image_tag 'lock.png' %></span>
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)" %>
          </div>

          <div class="field">
            <span class="lock-icon"><%= image_tag 'lock.png' %></span>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
          </div>

            <div class="links-field">
              <%= render "devise/shared/links" %>
            </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "red-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>