<h1>
  <%= t('views.patient_notifier_mailer.check_in_reminder.title',
    date: @appointment.clinic.clinic_date, location: @appointment.clinic.location) %>
</h1>

<p>
  <%= t('views.patient_notifier_mailer.check_in_reminder.reminder') %>
</p>

<p>
<strong><%= t('views.patient_notifier_mailer.check_in_reminder.note') %></strong> <%= t('views.patient_notifier_mailer.check_in_reminder.check_in' )%>
</p>

<p>
<%= link_to t('views.patient_notifier_mailer.check_in_reminder.button'), check_in_url(check_in_code: @patient.check_in_code) %>
</p>

<p>
<%= t('views.patient_notifier_mailer.check_in_reminder.end') %> <br/>
ClinicWizard
</p>
