<h1> <%= t 'views.patient_notifier_mailer.invitation.title' %> </h1>

<p> <%= t('views.patient_notifier_mailer.invitation.dear', patient: @patient.full_name) %>,
<p>
  <%= t('views.patient_notifier_mailer.invitation.registration', site_name: ENV['SITE_NAME']) %>
<p>
<strong><%= @patient.access_code %></strong>
<p>
<%= t 'views.patient_notifier_mailer.invitation.or' %>
  <a href="<%= ENV['SITE_URL'] %>/client/registration/<%= @patient.access_code %>">
    <%= ENV['SITE_URL'] %>/client/registration/<%= @patient.access_code %>
  </a>
<p>
<%= t 'views.patient_notifier_mailer.invitation.questions' %>
<a href="mailto:help@vaccineconsent.com">help@vaccineconsent.com</a>.
<p>
<%= t 'views.patient_notifier_mailer.invitation.end' %>,
<p>
Clinic Wizard
