<h1><%= t'views.provider_enrollment_mailer.acceptance_confirmation.title' %></h1>

<p>
  <%= @greeting %>, <%= t'views.provider_enrollment_mailer.acceptance_confirmation.find_me' %>
</p>

<p>
<%= t('views.provider_enrollment_mailer.acceptance_confirmation.request', first_name: @provider_enrollment.first_name, last_name: @provider_enrollment.last_name, practice_name: @provider_enrollment.practice_name, unique_number: @provider_enrollment.unique_number, temp_password: @temp_password) %>
</p>

</p>
<%= t'views.provider_enrollment_mailer.acceptance_confirmation.administrator' %>
</p>

<%= link_to 'Your Provider Enrollment', provider_enrollment_url(locale: locale, id: @provider_enrollment.id) %>
