<div class="z-50 opacity-0 pointer-events-none fixed bottom-0 inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center" id="ProviderEnrollmentNewEntryModal">
    <!--
    Background overlay, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
    <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <!--
    Modal panel, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      To: "opacity-100 translate-y-0 sm:scale-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100 translate-y-0 sm:scale-100"
      To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
  -->
    <div
        class="relative bg-white rounded-lg px-4 pt-5 pb-4 overflow-hidden shadow-xl transform transition-all sm:p-6">
        <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
            <button data-action="click->provider-enrollment-new-entry#toggleModal" type="button"
                class="text-gray-400 hover:text-gray-500 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div>
            <div class="w-11/12 mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h1 class="main-title pb-4 border-b"> Provider Enrollment </h1>
                <div class="mt-4">
                    <div class="sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-4 lg:gap-6">
                        <div>
                            <%= f.label :first_name do %>
                                <span class="text-gray-500"> First Name </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.text_field :first_name, class: "form-input w-full", required: true, id: "modal_provider_enrollment_first_name", disabled: true %>
                        </div>
                        
                        <div>
                            <%= f.label :last_name do %>
                                <span class="text-gray-500"> Last Name </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.text_field :last_name, class: "block form-select w-full", required: true, id: "modal_provider_enrollment_last_name", disabled: true %>
                        </div>

                        <div>
                            <%= f.label :address do %>
                                <span class="text-gray-500"> Address </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.text_field :address, class: "form-input block w-full", required: true, id: "modal_provider_enrollment_address", disabled: true %>
                        </div>

                        <div>
                            <%= f.label :phone_number do %>
                                <span class="text-gray-500"> Phone Number </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.text_field :phone_number, class: "form-input block w-full", required: true, id: "modal_provider_enrollment_phone_number", disabled: true %>
                        </div>

                        <div>
                            <%= f.label :fax_number do %>
                                <span class="text-gray-500"> Fax Number </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.text_field :fax_number, class: "form-input w-full", required: true, id: "modal_provider_enrollment_fax_number", disabled: true %>
                        </div>

                        <div>
                            <%= f.label :email do %>
                                <span class="text-gray-500"> Email Address </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.email_field :email, class: "form-input w-full", required: true, id: "modal_provider_enrollment_email", disabled: true %>
                        </div>

                        <div>
                            <%= f.label :npi_number do %>
                                <span class="text-gray-500"> NPI Number </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.text_field :npi_number, class: "form-input w-full", required: true, id: "modal_provider_enrollment_npi_number", disabled: true %>
                        </div>

                        <div>
                            <%= f.label :license_number do %>
                                <span class="text-gray-500"> License Number </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.text_field :license_number, class: "form-input w-full", required: true, id: "modal_provider_enrollment_license_number", disabled: true %>
                        </div> 

                        <div>
                            <%= f.label :license_type do %>
                                <span class="text-gray-500"> License Type </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.text_field :license_type, class: "form-input w-full", required: true, id: "modal_provider_enrollment_license_type", disabled: true %>
                        </div>

                        <div>
                            <%= f.label :medical_specialty do %>
                                <span class="text-gray-500"> Medical Specialty </span>
                                <span class="text-brand-red-500">*</span>
                            <% end %>
                            <%= f.text_field :medical_specialty, class: "form-input w-full", required: true, id: "modal_provider_enrollment_medical_specialty", disabled: true %>
                        </div>                                                
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
            <span class="flex w-full sm:ml-3 sm:w-auto">
                <%= f.submit "Submit", class: "button-primary" %>
            </span>
            <span class="mt-3 flex w-full sm:mt-0 sm:w-auto">
                <button type="button" data-action="click->provider-enrollment-new-entry#toggleModal" class="button-primary">
                    Close
                </button>
            </span>
        </div>
    </div>
</div>