<h2 class="main-title"> Provider and Business Enrollment </h2>

<div class="flex justify-end mb-6">
    <%= link_to "Add New Provider/Business", new_provider_enrollment_path, class: "button-primary" %>
</div>

<table class="table">
    <thead>
        <tr>
            <th> Request date </th>
            <th> Entity Name </th>
            <th> Entity Type </th>
            <th> County </th>
            <th> Requested Service </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <% @provider_enrollments.each do |provider| %>
        <tr>
            <td> <%= provider.created_at.strftime("%m-%d-%Y") %> </td>
            <td> <%= provider.practice_name %> </td>
            <td> Provider </td>
            <td> <%= provider.county %> </td>
            <td> <%= provider.clinic_services.pluck(:name).join(", ") %> </td>
            <td> <%= link_to "Review Request", edit_provider_enrollment_path(provider), class: "button-action" %> </td>
        </tr>
        <% end %>
    </tbody>
</table>
