<h2 class="main-title"> Provider Enrollments </h2>

<table class="table">
    <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Address </th>
            <th> Phone Number </th>
            <th> Email </th>
        </tr>
    </thead>
    <tbody>
        <% @provider_enrollments.last(10).reverse_each do |provider| %>
        <tr>
            <td> <%= provider.first_name %> </td>
            <td> <%= provider.last_name %> </td>
            <td> <%= provider.practice_address %> </td>
            <td> <%= provider.practice_office_phone %> </td>
            <td> <%= provider.practice_email %> </td>
        </tr>
        <% end %>
    </tbody>
</table>
