<h2 class="main-title"> Provider Enrollment Requests </h2>

<div class="flex justify-end mb-6">
    <%= link_to "New Provider Enrollment", new_provider_enrollment_path, class: "button-primary" %>
</div>

<table class="table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Date of Request </th>
            <th> Practice Name </th>
            <th> Specialty </th>
            <th> County </th>
            <th> Vaccinator </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <% @provider_enrollments.each do |provider| %>
        <tr>
            <td> <%= provider.first_name %> <%= provider.last_name %> </td>
            <td> <%= provider.created_at.strftime("%m-%d-%Y") %> </td>
            <td> <%= provider.practice_name %> </td>
            <td> <%= provider.medical_specialty %> </td>
            <td> <%= provider.county %> </td>
            <td> <%= provider.does_provide_vaccination %> </td>
            <td> <%= link_to "Check Request", edit_provider_enrollment_path(provider), class: "button-action" %> </td>
        </tr>
        <% end %>
    </tbody>
</table>
