<h2 class="main-title">Request to become a COVID-19 service provider</h2>

<%= form_with model: @provider_enrollment, local: true, class: "py-5", data: {controller: "provider-enrollment-new-entry"} do |f| %>
    <h2 class="label mb-2"> I would like to provide: </h2>
    <div class="checkboxes-container mb-6">
        <%= collection_check_boxes(:provider_enrollment, :clinic_service_ids, ClinicService.all, :id, :name) do |b| %>
        <div>
            <span> <%= b.check_box(class: "form-checkbox") %> </span>
            <span class="label"> <%= b.label %> </span>
        </div>
        <% end %>
    </div>

    <div class="sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-4 lg:gap-6">
        <div>
            <%= f.label :first_name, class: "block" do %>
            <span> First Name </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.text_field :first_name, class: "form-input w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>
        
        <div>
            <%= f.label :middle_initial, class: "block" do %>
            <span> Middle Initial </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.text_field :middle_initial, class: "block form-input w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>

        <div>
            <%= f.label :last_name, class: "block" do %>
            <span> Last Name </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.text_field :last_name, class: "block form-input w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>

        <div>
            <%= f.label :title, class: "block" do %>
            <span> Title </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.text_field :title, class: "block form-input w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>

        <div class="max-w-md">
            <%= f.label :professional_license, class: "block" do %>
                <span> Professional License </span>
                <span class="field-required">*</span>
            <% end %>
            <%= f.select :professional_license, PROFESSIONAL_LICENSES, {prompt: "Select"}, {class: "form-select w-full"} %>
        </div>

        <div>
            <%= f.label :practice_address, class: "block" do %>
            <span> Address </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.text_field :practice_address, class: "form-input block w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>

        <div>
            <%= f.label :practice_phone_number, class: "block" do %>
            <span> Phone Number </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.text_field :phone_number, class: "form-input block w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>

        <div>
            <%= f.label :practice_fax_number, class: "block" do %>
            <span> Fax Number </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.text_field :practice_fax_number, class: "form-input w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>

        <div>
            <%= f.label :practice_email, class: "block" do %>
            <span> Email Address </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.email_field :practice_email, class: "form-input w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>

        <div>
            <%= f.label :npi_number, class: "block" do %>
            <span> NPI Number </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.text_field :npi_number, class: "form-input w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>

        <div>
            <%= f.label :license_number, class: "block" do %>
            <span> License Number </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.text_field :license_number, class: "form-input w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>

        <div>
            <%= f.label :license_state_of_issue, class: "block" do %>
            <span> State of Issue </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.select :license_state_of_issue, options_for_select(US_STATES), {prompt: "Select"}, {class: "form-select w-full"} %>
        </div>

        <div>
            <%= f.label :license_date_of_issue, class: "block" do %>
            <span> Date of Issue </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.date_field :license_date_of_issue, class: "form-input w-full", placeholder: "MM/DD/YYYY", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>

        <div>
            <%= f.label :medical_specialty, class: "block" do %>
                <span> Medical Specialty </span>
                <span class="field-required">*</span>
            <% end %>
            <%= f.select :medical_specialty, MEDICAL_SPECIALTY, {prompt: "Select"}, {class: "form-select w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"}} %>
        </div>

        <div>
            <%= f.label :license_type, class: "block" do %>
            <span> Practice Type </span>
            <span class="field-required">*</span>
            <% end %>
            <%= f.text_field :license_type, class: "form-input w-full", required: true, data: {action: "keyup->provider-enrollment-new-entry#updateModalField"} %>
        </div>

    </div>

    <div class="flex justify-end items-end mt-2 mb-8">
        <p class="button-primary" data-action="click->provider-enrollment-new-entry#toggleModal"> Review & Confirm </p>
    </div>

    <%= render partial: "provider_enrollments/new_entry_review", locals: {f: f} %>
<% end %>