<h1 class="main-title">Change your password</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="w-1/2">
        <%= f.label :password, "New password", class: "block" %>
        <% if @minimum_password_length %>
            <p class="text-xs">(<%= @minimum_password_length %> characters minimum)</p>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-input w-full" %>

        <%= f.label :password_confirmation, "Confirm new password", class: "block" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input w-full" %>

        <%= f.submit "Change my password", class: "button-primary-fullwidth" %>
        <%= f.submit "Cancel", class: "button-primary-fullwidth my-4" %>
    </div>
<% end %>