<h1 class="main-title">Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="w-1/2">
        <%= f.label :email, "Email Address", class: "block" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input w-full" %>
        <%= f.submit "Send me password instructions", class: "button-primary-fullwidth" %>
        <%= link_to 'Cancel',  root_path, class: "button-primary-fullwidth my-4" %>
    </div>
<% end %>
