<%= form_with model: @customized_report, local: true do |form| %>
    <% if @customized_report.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@customized_report.errors.count, "error") %> prohibited this customized_report from being saved:</h2>

        <ul>
            <% @customized_report.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <h1 class="text-center text-lg text-gray-600 mb-4">Please select the data you would like in your customized report: </h1>

    <div class="w-full flex items-center mb-5">
        <% unless @clinic %>
            <div class="block mr-5">
                <%= form.label :county %>
                <%= form.select :county, COUNTIES, {prompt: "Select"}, {class: "block form-select"} %>
            </div>
        <% end %>

        <div class="flex justify-between mx-auto">
            <div class="w-full mr-6">
                <h3 class="label"> Please choose which patients do you want to include in the report</h3>
                <div class="absolute flex items-center h-5">
                    <%= form.check_box :patients_screened, class: "form-checkbox" %>
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <%= form.label :patients_screened, "Patients Screened" %>
                </div>

                <div class="absolute flex items-center h-5">
                    <%= form.check_box :patients_tested, class: "form-checkbox" %>
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <%= form.label :patients_tested, "Patients Tested" %>
                </div>

                <div class="absolute flex items-center h-5">
                    <%= form.check_box :pending_patients, class: "form-checkbox" %>
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <%= form.label :pending_patients, "Pending Patients" %>
                </div>

                <div class="absolute flex items-center h-5">
                    <%= form.check_box :safety_kit, class: "form-checkbox"%>
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <%= form.label :safety_kit, "Safety Kit" %>
                </div>

                <div class="absolute flex items-center h-5">
                    <input class="form-checkbox" type="checkbox" id="tester" name="customized_report[tester]" value="1" />
                </div>
                <div class="pl-7 text-sm leading-5">
                    <label for="tester">Tester (A person administering the vaccine)</label>
                </div>
            </div>

            <div class="w-full">
                <h3 class="label"> Please choose which data do you want to include in the report</h3>
                <div class="absolute flex items-center h-5">
                    <%= form.check_box :gender, class: "form-checkbox" %>
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <%= form.label :gender %>
                </div>

                <div class="absolute flex items-center h-5">
                    <%= form.check_box :race, class: "form-checkbox" %>
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <%= form.label :race %>
                </div>

                <div class="absolute flex items-center h-5">
                    <%= form.check_box :zip_code, class: "form-checkbox" %>
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <%= form.label :zip_code, "Zip Code" %>
                </div>

                <div class="absolute flex items-center h-5">
                    <input class="form-checkbox" type="checkbox" id="insurance_type" name="customized_report[insurance_type]" value="1" />
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <label for="insurance_type">Insurance Type</label>
                </div>

                <div class="absolute flex items-center h-5">
                    <input class="form-checkbox" type="checkbox" id="age" name="customized_report[age]" value="1" />
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <label for="age">Age</label>
                </div>

                <div class="absolute flex items-center h-5">
                    <input class="form-checkbox" type="checkbox" id="date_of_birth" name="customized_report[date_of_birth]" value="1" />
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <label for="date_of_birth">Date of Birth</label>
                </div>

                <div class="absolute flex items-center h-5">
                    <input class="form-checkbox" type="checkbox" id="vacine_name_and_lot_number"
                    name="customized_report[vacine_name_and_lot_number]" value="1" />
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <label for="vacine_name_and_lot_number">Vaccine Name and Lot number</label>
                </div>

                <div class="absolute flex items-center h-5">
                    <input class="form-checkbox" type="checkbox" id="leader_tester" name="customized_report[lead_tester]" value="1" />
                </div>
                <div class="pl-7 text-sm leading-5 mb-5">
                    <label for="lead_tester">Lead Tester</label>
                </div>

                <div class="absolute flex items-center h-5">
                    <%= form.check_box :registration_date, class: "form-checkbox" %>
                </div>
                <div class="pl-7 text-sm leading-5">
                    <%= form.label :registration_date, "Registration Date" %>
                </div>
            </div>
        </div>
    </div>

    <%= form.hidden_field :clinic_id, value: @clinic.id if @clinic %>

    <div class="actions flex items-center justify-center">
        <%= form.submit 'Submit', class:'button-primary' %>
    </div>
<% end %>