<%= form_with model: @customized_report, local: true do |form| %>
    <% if @customized_report.errors.any? %>
    <div id="error_explanation">
        <h3><%= pluralize(@customized_report.errors.count, "error") %> prohibited this customized_report from being saved:</h3>

        <ul>
            <% @customized_report.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <% if @clinic %>
        <%= form.hidden_field :clinic_id, value: @clinic.id %>
    <% else %>
        <div class="w-3/4 flex mb-6" data-controller="consent-form">
            <div class="multiselect-dropdown w-1/3 mr-6">
                <label class="block">County</label>
              <div class="selectBox" data-action="click->consent-form#showCheckboxes">
                <input type="text" id="predict_company_name" data-action="keyup->consent-form#search" placeholder="Search county" class="block form-select form-input w-full" style="height: 50px;" />
              </div>
              <div class="checkboxes-in-dropdown w-full z-10" id="locationsCheckboxes" data-target="consent-form.locationsCheckboxes" style="top: 73px;">
              <% all_counties = ["All"] + COUNTIES %>
              <% all_counties.each do |county| %>
                <div class="relative flex items-start px-3 hover:bg-blue-50" data-target="consent-form.searchableRow" data-search-content="<%= [county.try(:downcase)] %>">
                    <div class="absolute flex items-center h-5">
                      <%= form.check_box(:county, { multiple: true, include_hidden: false, class: "form-checkbox cursor-pointer text-base font-bold",
                                      data: {action: "click->consent-form#displayLocations",
                                             locations: "",
                                             employer: "#{county}",
                                             type: "county",
                                             target: "consent-form.companyCheckbox"
                                      }}, county) %>
                    </div>
                    <div class="pl-6 text-sm leading-5">
                      <%= label_tag :county, county %>
                    </div>
                </div>
              <% end %>


              </div>
            </div>
            <div class="w-1/3" data-controller="consent-form">
                <div class="multiselect-dropdown">
                    <label class="block">Clinic</label>
                    <div class="selectBox" data-action="click->consent-form#showCheckboxes">
                        <input type="text" id="predict_company_name" data-action="keyup->consent-form#search" placeholder="Search venue" class="form-input w-full" style="height: 50px;" />
                    </div>
                    <div class="checkboxes-in-dropdown z-10 w-full" id="locationsCheckboxes" data-target="consent-form.locationsCheckboxes" style="top: 73px;">
                        <% Clinic.all.each do |clinic| %>
                            <div class="relative flex items-start px-3 hover:bg-blue-50" data-target="consent-form.searchableRow" data-search-content="<%= [clinic.name.try(:downcase)] %>">
                                <div class="absolute flex items-center h-5">
                                    <%= form.check_box(:clinic_id, {multiple: true, include_hidden: false, class: "form-checkbox cursor-pointer text-base font-bold",
                                        data: {action: "click->consent-form#displayLocations",
                                        locations: "",
                                        employer: "#{clinic.name}",
                                        type: "clinic",
                                        target: "consent-form.companyCheckbox"
                                        }}, clinic.id) %>
                                </div>
                                <div class="pl-6 text-sm leading-5">
                                    <%= label_tag :clinic_id, clinic.name %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <h2 class="text-center text-2xl text-gray-700 mb-6">Please select the data you would like in your customized report: </h2>
    <div class="w-2/3 grid grid-cols-1 md:grid-cols-2 md:gap-4 mb-6 mx-auto">
        <div class="w-full">
            <h3 class="label mb-4"> Which patients do you want included in the report? </h3>
            <div class="absolute flex items-center h-5">
                <%= form.check_box :patients_screened, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :patients_screened, "Patients Screened" %>
            </div>

            <div class="absolute flex items-center h-5">
                <%= form.check_box :patients_tested, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :patients_tested, "Patients Tested" %>
            </div>

            <div class="absolute flex items-center h-5">
                <%= form.check_box :pending_patients, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :pending_patients, "Pending Patients" %>
            </div>

            <div class="absolute flex items-center h-5">
                <%= form.check_box :patients_vaccinated, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :patients_vaccinated, "Vaccinated Patients" %>
            </div>


            <div class="absolute flex items-center h-5">
                <%= form.check_box :safety_kit, class: "form-checkbox"%>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :safety_kit, "Safety Kit" %>
            </div>

            <%# TODO: Ask more details %>
            <!--
            <div class="absolute flex items-center h-5">
                <input class="form-checkbox" type="checkbox" id="tester" name="customized_report[tester]" value="1" />
            </div>
            <div class="pl-7 text-sm leading-5">
                <label for="tester">Tester (A person administering the vaccine)</label>
            </div>
            -->
        </div>

        <div>
            <h3 class="label mb-4"> Which patients fields do you want included in the report? </h3>
            <div class="absolute flex items-center h-5">
                <%= form.check_box :gender, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :gender %>
            </div>

            <div class="absolute flex items-center h-5">
                <%= form.check_box :race, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :race %>
            </div>

            <div class="absolute flex items-center h-5">
                <%= form.check_box :zip_code, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :zip_code, "ZIP Code" %>
            </div>

            <div class="absolute flex items-center h-5">
                <%= form.check_box :insurance_type, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :insurance_type, "Insurance Type" %>
            </div>

            <div class="absolute flex items-center h-5">
                <%= form.check_box :age, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :age %>
            </div>

            <div class="absolute flex items-center h-5">
                <%= form.check_box :date_of_birth, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :date_of_birth, "Date of Birth" %>
            </div>

            <div class="absolute flex items-center h-5">
                <%= form.check_box :test_type, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :test_type, "Test Type" %>
            </div>

            <div class="absolute flex items-center h-5">
                <%= form.check_box :test_result, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :test_result, "Test Results" %>
            </div>

            <div class="absolute flex items-center h-5">
                <%= form.check_box :remarks, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <%= form.label :remarks, "Remarks" %>
            </div>

            <%# TODO: Ask for more details %>
            <!--
            <div class="absolute flex items-center h-5">
                <input class="form-checkbox" type="checkbox" id="vacine_name_and_lot_number"
                name="customized_report[vacine_name_and_lot_number]" value="1" />
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <label for="vacine_name_and_lot_number">Vaccine Name and Lot number</label>
            </div>

            <div class="absolute flex items-center h-5">
                <input class="form-checkbox" type="checkbox" id="leader_tester" name="customized_report[lead_tester]" value="1" />
            </div>
            <div class="pl-7 text-sm leading-5 mb-5">
                <label for="lead_tester">Lead Tester</label>
            </div>
            -->

            <div class="absolute flex items-center h-5">
                <%= form.check_box :registration_date, class: "form-checkbox" %>
            </div>
            <div class="pl-7 text-sm leading-5">
                <%= form.label :registration_date, "Registration Date" %>
            </div>
        </div>
    </div>

    <div class="flex items-center justify-center pt-4">
        <%= form.button "Generate Report in PDF", name: "pdf_file", class: "button-primary" %>
        <%= form.button "Generate Report in Excel", name: "excel_file", class: "button-primary" %>
    </div>
<% end %>
