<h1 class="text-2xl font-bold mb-6 text-gray-700"> <%= @clinic ? @clinic.name : "Customized Report" %> </h1>

<% if @patients_screened %>
    <h2 class="font-bold text-gray-700 text-xl"> Screened </h2>
    <%= render partial: "customized_reports/table", locals: {patients: @patients_screened} %>
<% end %>

<% if @patients_tested %>
    <h2 class="font-bold text-gray-700 text-xl"> Tested </h2>
    <%= render partial: "customized_reports/table", locals: {patients: @patients_screened} %>
<% end %>

<% if @patients_safety_kit %>
    <h2 class="font-bold text-gray-700 text-xl"> Safety Kit </h2>
    <%= render partial: "customized_reports/table", locals: {patients: @patients_screened} %>
<% end %>

<% if @patients_by_county %>
    <h2 class="font-bold text-gray-700 text-xl"> County </h2>
    <%= render partial: "customized_reports/table", locals: {patients: @patients_by_county} %>
<% end %>
