<div
  data-target="clinic-activity-patients.modal"
  data-patient-id="<%= patient.id.nil? ? "addMorePatients" : patient.id %>"
  data-category-selection="<%= category_selection %>"
  class="modal hidden fixed w-full h-full top-0 left-0 flex items-center justify-center z-50">

  <div class="modal-overlay fixed w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
  <div class="absolute p-8 bg-white rounded-lg shadow-lg flex w-7/12 
    <%= (patient.id.nil? || category_selection.downcase == "vaccinated") ? "overflow-y-scroll" : "" %>" 
    style="<%= "top:50px; bottom: 50px;" if (patient.id.nil? || category_selection.downcase == "vaccinated") %>">

    <div class="w-full <%= category_selection.downcase %>">
        <% unless category_selection == "AddPatient" %>
          <h1 class="text-lg leading-6 font-medium text-gray-900">
            <%= category_selection %>: <span class="font-bold"> <%= patient.full_name %> </span>
          </h1>
        <% end %>

      <%= yield %>
      <div class="mt-8 pt-5">
        <div class="flex justify-end">
          <% unless event_form.nil? %>
            <span class="ml-3 inline-flex rounded-md shadow-sm">
              <button type="submit" class="button-primary"
                      data-event-category="<%= category_selection %>"
                      data-clinic-event="<%= patient.id unless patient.id.nil? %>"
                      data-action="click->clinic-activity-patients#updatePatientTable">Update</button>
            </span>
          <% end %>
          <% unless category_selection == "AddPatient" %>
            <span class="inline-flex rounded-md shadow-sm">
              <a data-action="clinic-activity-patients#cancelModal"
                data-parent="<%= patient.id.nil? ? "addMorePatients" : patient.id %>" class="button-primary sm:mr-0 md:mr-0">Close</a>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
