<tr class="new_test_kit_row">
    <td> <%= f.text_field :test_name, class: "form-input w-full" %> </td>
    <td> <%= f.text_field :test_lot_number, class: "form-input w-full" %> </td>
    <td> <%= f.number_field :test_kits_quantity, min: 0, oninput: "validity.valid||(value='');", class: "form-input w-full" %> </td>
    <td> <%= f.number_field :tests_administered, min: 0, oninput: "validity.valid||(value='');", class: "form-input w-full" %> </td>
    <td> <%= f.number_field :unusable_tests, min: 0, oninput: "validity.valid||(value='');", class: "form-input w-full" %> </td>
    <td> <%= f.number_field :tests_returned, min: 0, oninput: "validity.valid||(value='');", class: "form-input w-full" %> </td>
    <td>
        <%= f.hidden_field :_destroy %>
        <%= link_to '#', class: 'remove_test_kit_record button-action mb-4' do %>
            <span class="text-xs"> Delete </span>
        <% end %>
    </td>
    <td class="flex w-full">
        <%= link_to '#', class: 'button-option-yes mb-6' do %>
            <span class="text-xs"> Yes </span>
        <% end %>
        <%= link_to '#', class: 'button-option-no mb-6' do %>
            <span class="text-xs"> No </span>
        <% end %>
    </td>        
</tr>
