<table class="w-full mt-8">
  <tr>
    <th>Vaccine</th>
    <th>Route</th>
    <th>Site</th>
    <th>Reaction</th>
  </tr>
    <% event_form.object.vaccine_event_details << VaccineEventDetail.new unless event_form.object.vaccine_event_details.detect{|ved| ved.vaccine.blank?} %>
    <%= event_form.fields_for :vaccine_event_details do |df| %>
      <tr>
        <td>
          <%= df.select :vaccine, VACCINE_ITEM_TYPES, {include_blank: true}, class: "form-select" %>
        </td>
        <td>
          <%= df.select :route, %w(SubQ IM), {include_blank: true}, class: "form-select" %>
        </td>
        <td>
          <%= df.select :site, %w(RA LA), {include_blank: true}, class: "form-select" %>
        </td>
        <td>
          <%= df.select :reaction, %w(None Local Syncope Anaphylaxis), {include_blank: true}, class: "form-select" %>
        </td>
      </tr>
    <% end %>
  
</table>

<div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start  sm:pt-5">
  <p class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
    Reaction
  </p>
  <div class="mt-1 sm:mt-0 sm:col-span-2">
    <div class="max-w-xs rounded-md shadow-sm">
      <%= event_form.select :vaccine_reaction, ["None", "Local", "Syncope", "Anaphylaxis"], {}, class: "block form-select w-full" %>
    </div>
  </div>
</div>
<div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
  <p class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
    Vaccinator 
  </p>
  <div class="mt-1 sm:mt-0 sm:col-span-2">
    <div class="max-w-xs rounded-md shadow-sm">
      <%= event_form.select :clinic_staff_id, [@clinic.lead_vaccinator_name] + @clinic.clinic_personnel.collect(&:name), {}, class: "block form-select w-full" %>
    </div>
  </div>
</div>
