<%# if school_mode? %>
  <%# render partial: '/clinics/activity/vaccinated_details_schoolclinics', layout: "clinics/activity/clinic_event_modal", locals: {patient: patient, event_form: event_form, category_selection: category_selection} %>
<%# else %>
  <%# render partial: '/clinics/activity/vaccinated_details_prepmod', layout: "clinics/activity/clinic_event_modal", locals: {patient: patient, event_form: event_form, category_selection: category_selection} %>  
<%# end %>

 <%= link_to_add_new_vaccine('Add new Vaccine +', event_form, :vaccine_event_details, class: 'button-action mb-2 float-right button-add-new-vaccine', data: {action: "click->main#addVaccineDetails"}) %>
<table class="w-full">
    <thead>
        <tr>
            <th>Vaccine</th>
            <th>Route</th>
            <th>Site</th>
            <th>Reaction</th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody class="fields-new-vaccine">
        <%= event_form.fields_for :vaccine_event_details, event_form.object.vaccine_event_details.build  do |df| %>
            <%= render 'clinics/activity/vaccine_event_detail', f: df %>
        <% end %>
    </tbody>
</table>

<div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start  sm:pt-5">
  <p class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
    Reaction
  </p>
  <div class="mt-1 sm:mt-0 sm:col-span-2">
    <div class="max-w-xs rounded-md shadow-sm">
      <%= event_form.select :vaccine_reaction, ["None", "Local", "Syncope", "Anaphylaxis"], {}, class: "block form-select w-full" %>
    </div>
  </div>
</div>
<div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
  <p class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
    Vaccinator 
  </p>
  <div class="mt-1 sm:mt-0 sm:col-span-2">
    <div class="max-w-xs rounded-md shadow-sm">
      <%= event_form.select :clinic_staff_id, [@clinic.lead_vaccinator_name] + @clinic.clinic_personnel.collect(&:name), {}, class: "block form-select w-full" %>
    </div>
  </div>
</div>
