<h1> <%= t 'views.clinic_event_mailer.registration_confirmed.title' %> </h1>

<p> <%= t 'views.clinic_event_mailer.registration_confirmed.subtitle', date: @clinic_event.event_date.strftime("%d/%m/%Y") %> </p>

<p> <%= t 'views.clinic_event_mailer.registration_confirmed.message_1' %> </p>

<p> <%= t 'views.clinic_event_mailer.registration_confirmed.message_2' %></p>

<p> <%= t 'views.clinic_event_mailer.registration_confirmed.end' %>, Clinic Wizard</p>
