<h1 class="main-title">Enter a patient event</h1>
<div class="container overflow-hidden">
  <%= form_for(@clinic_event, remote: false, class: "bg-white p-8 md:-12 lg:p-16 rounded-lg shadow") do |f| %>
      <h2 class="text-xl font-bold m-4">Patient: <%= @clinic_event.patient.full_name %> (<%= @clinic_event.patient.date_of_birth.strftime("%B %e, %Y") %>)

      <div class="mt-4">
        <div class="label">Logged In User</div>
        <input class="w-11/12 form-input block" value="<%= current_user.name %>" disabled="true" />
      </div>

    <div class="mt-4">
        <%= f.label :event_date, "Event Date", class: "block" %>
        <%= f.date_field :event_date, class: "form-input", placeholder: "MM/DD/YYYY" %>
    </div>

      <div class="mt-4">
        <%= f.label :category %>
        <%= f.select :category, options_for_select(CLINIC_EVENTS.collect{|h| h[:name]}, @clinic_event.category),{}, class: "w-11/12 form-select block" %>
      </div>

      <div class="mt-4">
        <%= f.label :outcome %>
        <%= f.select :outcome, options_for_select(CLINIC_EVENTS.collect{|h| h[:outcomes]}.flatten.uniq, @clinic_event.outcome),{}, class: "w-11/12 form-select block" %>
      </div>
      <%= f.hidden_field :patient_id %>
      <div class="mt-4">
        <%= f.label :notes %>
        <%= f.text_area :notes, class: "w-11/12 form-textarea block mb-4" %>
      </div>
      <div class="button-container">
        <%= submit_tag "Save and Continue →", class: "button-primary" %>
      </div>
  <% end %>
</div>
