<%= content_for :prevent_unsaved_form_script do %>
    <%= javascript_pack_tag 'prevent_unsaved_form', 'data-turbolinks-track': 'reload' %>
<% end %>
<h1 class="main-title">Enter a Patient Encounter</h1>
    <%= form_for(@clinic_event, remote: false) do |f| %>

        <% if @clinic_event.errors.any? %>
        <div id="error_explanation" class="p-4 border-2 bg-red-100 border-red-500 mb-4"> 
            <h2 class="text-lg font-bold"><%= pluralize(@clinic_event.errors.count, "error") %> prohibited this article from being saved:</h2>
        
            <ul class="list-disc ml-8">
            <% @clinic_event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
        <% end %>

        <div>
            <h2 class="title">Patient: <%= @clinic_event.patient.full_name %> (<%= @clinic_event.patient.date_of_birth.strftime("%B %e, %Y") %>)
            <div class="my-4 w-3/12">
                <p class="label block">Logged In User</p>
                <input class="form-input w-full" value="<%= current_user.name %>" disabled="true" />
            </div>

            <div class="w-3/12">
                <%= f.label :event_date, "Date of Encounter", class: "block" %>
                <%= f.text_field :event_date, class: "form-input w-full", placeholder: "MM/DD/YYYY", 
                        required: true, data: { controller: "flatpickr" }%>
            </div>

            <div class="w-3/12">
                <%= f.label :location, class: "block" %>
                <%= f.select :location, options_for_select(ClinicEvent.available_locations), {}, {class: "form-select w-full"} %>
            </div>

<!--
            <div class="mb-4 w-5/12">
                <p class="label mb-2"> Encounter Type </p>
                <div class="w-full checkboxes-container">
                    <%= collection_check_boxes(:patient, :service_ids, ClinicService.where(category: "clinic_events"), :id, :name) do |b| %>
                    <div>
                        <span> <%= b.check_box(class: "form-checkbox") %> </span>
                        <span class="label"> <%= b.label %> </span>
                    </div>
                    <% end %>
                </div>
            </div>
-->
            <div class="w-3/12">
                <%= f.label :category, "Encounter Type", class: "block" %>
                <%= f.select :category, options_for_select(ClinicService.where(category: "clinic_events").collect(&:name)),{}, {class: "w-full form-select"} %>
            </div>

            <div class="w-3/12">
                <%= f.label :outcome, class: "block" %>
                <%= f.select :outcome, options_for_select(CLINIC_EVENTS.collect{|h| h[:outcomes]}.flatten.uniq, @clinic_event.outcome),{}, {class: "w-full form-select"} %>
            </div>

            <%= f.hidden_field :patient_id %>

            <div class="w-5/12">
                <%= f.label :notes, class: "block" %>
                <%= f.text_area :notes, class: "w-full form-textarea" %>
            </div>

            <div class="flex justify-end w-6/12 mt-4">
                <%= submit_tag "Save and Continue →", class: "button-primary" %>
            </div>
        </div>
        <div></div>
    <% end %>
</div>
