<h1 class="main-title">Enter a Patient Event</h1>
    <%= form_for(@clinic_event, remote: false) do |f| %>
        <div class="field-side-by-side">
            <h2 class="title">Patient: <%= @clinic_event.patient.full_name %> (<%= @clinic_event.patient.date_of_birth.strftime("%B %e, %Y") %>)
            <div class="my-4">
                <p class="label block">Logged In User</p>
                <input class="form-input w-full" value="<%= current_user.name %>" disabled="true" />
            </div>

            <div>
                <%= f.label :event_date, "Event Date", class: "block" %>
                <%= f.text_field :event_date, data: {controller: "flatpickr"}, class: "form-select w-full"%>
            </div>

            <div class="mb-4">
                <%= f.label :location, class: "block" %>
                <%= f.select :location, options_for_select(ClinicEvent.available_locations), class: "form-input w-full text-xs" %>
            </div>

            <div class="mb-4">
                <p class="label"> Service Provided Options </p>
                <div class="w-full checkboxes-container">
                    <%= collection_check_boxes(:patient, :service_ids, ClinicService.where(category: "clinic_events"), :id, :name) do |b| %>
                    <div>
                        <span> <%= b.check_box(class: "form-checkbox") %> </span>
                        <span class="label"> <%= b.label %> </span>
                    </div>
                    <% end %>
                </div>
            </div>

            <div>
                <%= f.label :outcome, class: "block" %>
                <%= f.select :outcome, options_for_select(CLINIC_EVENTS.collect{|h| h[:outcomes]}.flatten.uniq, @clinic_event.outcome),{}, {class: "w-full form-select"} %>
            </div>

            <%= f.hidden_field :patient_id %>

            <div>
                <%= f.label :notes, class: "block" %>
                <%= f.text_area :notes, class: "w-full form-textarea" %>
            </div>

            <div class="button-container flex justify-end my-4">
                <%= submit_tag "Save and Continue →", class: "button-primary" %>
            </div>
        </div>
        <div></div>
    <% end %>
</div>
