<h1 class="main-title"> Sign Up for News and Notifications to get the latest news on C-19 </h1>
<%= form_with model: @news_signup, local: true do |f| %>
    <div class="field-side-by-side">
        <div>
            <%= f.label :name, class: "block" %>
            <%= f.text_field :name, class: "form-input w-full", required: true %>
        </div>
        <div>
            <%= f.label :email, "Email Address", class: "block" %>
            <%= f.email_field :email, class: "form-input w-full", required: true %>
        </div>
    </div>

    <div class="field-side-by-side">
        <div>
            <%= f.label :occupation, "Choose Occupation", class: "block" %>
            <%= f.select :occupation, PATIENT_OCCUPATIONS, {prompt: "Select"}, {class: "block form-select w-full", required: true} %>
        </div>
        <div class="flex">
            <div class="flex-1 mr-2">
                <%= f.label :date_of_birth, class: "block" %>
                <%= f.date_field :date_of_birth, min: Date.today - 50.years, max: Date.today, class: "form-input block w-full", placeholder: "MM/DD/YYYY", required: true %>
            </div>
            <div class="flex-1">
                <%= f.label :zip_code, class: "block" %>
                <%= f.text_field :zip_code, class: "form-input w-full", required: true %>
            </div>
        </div>
    </div>

    <div class="field-fullwidth">
        <div>
            <%= f.label :topics, class: "block" %>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 lg:gap-4">
                <% ["Testing", "Screening", "Safety Kit", "Medication", "Other"].each do |topic|%>
                    <div class="relative flex items-start mb-4">
                        <div class="absolute flex items-center h-5">
                            <%= f.check_box(:topics, {multiple: true, id: "topic_#{topic}", class: "form-checkbox"}, topic) %>
                        </div>
                        <div class="pl-6 text-sm leading-5">
                            <label for="topic_<%=topic%>"> <%= topic %> </label>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="flex justify-end">
        <%= f.submit "Sign Up", class: "button-primary" %>
        <%= link_to "Back", root_path, class: "button-primary" %>
    </div>
<% end %>