<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @news_signup.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @news_signup.email %>
</p>

<%= link_to 'Edit', edit_news_signup_path(@news_signup) %> |
<%= link_to 'Back', news_signups_path %>
