<h1> <%= t('views.appointment_mailer.send_reminder.title') %> </h1>

<p> <%= t('views.appointment_mailer.send_reminder.subtitle') %> </p>

<p> <%= t('views.appointment_mailer.send_reminder.message_1') %> </p>

<p> <%= t('views.appointment_mailer.send_reminder.message_2') %> </p>

<p> <%= t('views.appointment_mailer.send_reminder.message_3') %> </p>

<%= link_to t('views.appointment_mailer.send_reminder.check_in_button'), "#{ENV['SITE_URL']}/check_in/#{@appointment.patient.check_in_code}" %>

<p> <%= t('views.appointment_mailer.send_reminder.end') %> </p>
