<div class="px-4 my-4 md:my-6 lg:my-8">
    <div class="sm:flex sm:flex-wrap sm:justify-center sm:items-stretch -mx-4">
        <%= render partial: 'menu_button',
            locals: {
                url: clinics_path(clinic_date: 'upcoming'),
                name: "Manage Clinics and Users",
                image: 'users' } unless ENV['OPEN_MARYLAND']
        %>
        <%= render partial: 'menu_button',
            locals: {
                url: clinics_path(clinic_display: "virtual"),
                name: "Start Clinic",
                subtitle: "Virtual Queue",
                image: 'virtual_queue' } unless ENV['OPEN_MARYLAND']
        %>
        <%= render partial: 'menu_button',
            locals: {
                url: clinics_path,
                name: "Start Clinic",
                subtitle: "Standard",
                image: 'standard_clinic' } unless ENV['OPEN_MARYLAND']
        %>
        <%= render partial: 'menu_button',
            locals: {
                url: patients_path,
                name: "Find a Record",
                image: 'find_record' } 
        %>

        <%= render partial: 'menu_button',
            locals: {
                url: new_patient_path,
                name: "Refer Patient for Services",
                image: 'export_refer' } 
        %>

        <%= render partial: 'menu_button',
            locals: {
                url: provider_enrollments_path,
                name: "Enroll Provider or Business",
                image: 'enroll_provider' } unless ENV['OPEN_MARYLAND']
        %>

        <%= render partial: 'menu_button',
            locals: {
                url: supply_inventories_path,
                name: "Inventory Management",
                image: 'inventory_management' } 
        %>

        <%= render partial: 'menu_button',
            locals: {
                url: pages_reports_menu_path,
                name: "Generate Reports",
                image: 'customized_report' } 
        %>
        <%= render partial: 'menu_button',
            locals: {
                url: new_message_path,
                name: "Send a Message",
                image: 'message' } 
        %>

        <%= render partial: 'menu_button',
            locals: {
                url: destroy_user_session_path,
                name: "Logout",
                image: 'logout' } 
        %>
    </div>
</div>