<div class="p-5 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 lg:gap-8 md:my-4 lg:my-6">
    <%= link_to "#", class: "block p-6 border-2 text-center flex flex-col justify-between" do %>
        <h1 class="text-gray-600 pb-1 border-b"> Manage Clinics and Users </h1>
        <%= image_tag 'icons/users.png', class: "mt-6 mx-auto" %>
    <% end %>

    <%= link_to "#", class: "block p-6 border-2 text-center flex flex-col justify-between" do %>
        <h1 class="text-gray-600 pb-1 border-b"> Start Clinic Virtual Queue </h1>
        <%= image_tag 'icons/virtual_queue.png', class: "mt-6 mx-auto" %>
    <% end %>

    <%= link_to "#", class: "block p-6 border-2 text-center flex flex-col justify-between" do %>
        <h1 class="text-gray-600 pb-1 border-b"> Start Clinic Standard </h1>
        <%= image_tag 'icons/clinic.png', class: "mt-6 mx-auto" %>
    <% end %>

    <%= link_to "#", class: "block p-6 border-2 text-center flex flex-col justify-between" do %>
        <h1 class="text-gray-600 pb-1 border-b"> Find a Record </h1>
        <%= image_tag 'icons/search_desktop.png', class: "mt-6 mx-auto" %>
    <% end %>

    <%= link_to "#", class: "block p-6 border-2 text-center flex flex-col justify-between" do %>
        <h1 class="text-gray-600 pb-1 border-b"> Refer Patient for Services </h1>
        <%= image_tag 'icons/patients.png', class: "mt-6 mx-auto" %>
    <% end %>

    <%= link_to "#", class: "block p-6 border-2 text-center flex flex-col justify-between" do %>
        <h1 class="text-gray-600 pb-1 border-b"> Enroll/Accept a Provider </h1>
        <%= image_tag 'icons/provider.png', class: "mt-6 mx-auto" %>
    <% end %>

    <%= link_to "#", class: "block p-6 border-2 text-center flex flex-col justify-between" do %>
        <h1 class="text-gray-600 pb-1 border-b"> Inventory Management </h1>
        <%= image_tag 'icons/checklist.png', class: "mt-6 mx-auto" %>
    <% end %>

    <%= link_to "#", class: "block p-6 border-2 text-center flex flex-col justify-between" do %>
        <h1 class="text-gray-600 pb-1 border-b"> Send a Message </h1>
        <%= image_tag 'icons/envelope.png', class: "mt-6 mx-auto" %>
    <% end %>

    <%= link_to "#", class: "block p-6 border-2 text-center flex flex-col justify-between" do %>
        <h1 class="text-gray-600 pb-1 border-b"> Logout </h1>
        <%= image_tag 'icons/logout.png', class: "mt-6 mx-auto" %>
    <% end %>
</div>