<div
  data-target="clinic-activity-patients.cancelModal"
  data-patient-id="<%= @patient.id.nil? ? "addMorePatients" : @patient.id %>"
  data-category-selection="<%# category_selection %>"
  class="modal hidden fixed w-full h-full top-0 left-0 flex items-center justify-center <%= "z-50" if @patient.id.nil? %>"
  id="add_patient_modal"
  >

  <div class="modal-overlay fixed w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
  <div class="absolute p-8 bg-white rounded-lg shadow-lg flex <%= @patient.id.nil? ? "overflow-y-scroll" : "" %>" style="<%= "top:50px; bottom: 50px;" if @patient.id.nil? %>">
    
    <div class="w-full">
        <!--<%# unless category_selection == "AddPatient" %>
          <h1 class="text-lg leading-6 font-medium text-gray-900">
            <%# category_selection %>: <span class="font-bold"> <%# @patient.full_name %> </span>
          </h1>
        <%# end %> -->

      <h1 class="main-title">Add a Patient</h1>

        <%= form_with(scope: :appointment, remote: false, url: update_appointment_clinic_queued_patients_path(clinic_id: @clinic.id), 
            method: :post, data: {controller: "testing-referral-review-form age-calculator"}) do |f| %>
            <%# f.hidden_field :clinic_id, value: @clinic.id %>

            <% @patiens_waiting_list = Patient.joins(:clinics).where("clinics.id = ?", @clinic.id).joins(:appointments).where("appointments.on_waiting_list = ?", true) %>

            <div>
                <%# TODO: Check why this is state instead of race %>
                <%= label_tag "patient_id", "Select Patient", class: "block" %>
                <%= select_tag "patient_id", options_from_collection_for_select(@patiens_waiting_list, "id", "full_name"), prompt: "Select Patient", class: "form-select w-full" %>
            </div>

            <label> Clinic Date </label>
            <p class="form-input w-full mb-3"> <%= @clinic.clinic_date %> </p>

            <div>
                <label class="block"> Choose Appointment </label>
                <%= fields_for :appointment do |af| %>
                    <% @clinic.appointment_times.each do |time| %>
                        <div class="grid grid-cols-2 gap-4">
                            <div class="flex items-center">
                                <div class="flex items-center">
                                    <% if @clinic.appointment_slots.to_i >= (@patient.patient_family_members.count + 1) %>
                                        <%= af.radio_button(:appointment_at, time, class: "form-radio", onclick: "var elements = document.getElementsByName('appointment[on_waiting_list]'); for(var i=0; i < elements.length; i++) elements[i].checked = false;") %>
                                    <% else %>
                                        <%= af.radio_button(:appointment_at, time, class: "form-radio", disabled: "true") %>
                                    <% end %>
                                    <span class="ml-2"><%= time %></span>
                                </div>

                                <p class="ml-3 text-xs text-gray-400"> (<%= @clinic.appointment_slots.to_i %> appointments available) </p>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>

            <div class="flex justify-end my-4">
                <%= f.submit "Save", class: "button-primary" %>
                <a data-action="clinic-activity-patients#cancelModal" data-parent="<%= @patient.id.nil? ? "addMorePatients" : @patient.id %>" class="button-primary sm:mr-0 md:mr-0">Cancel</a>
            </div>
        <% end %>
    </div>
  </div>
</div>
