<%= render "clinics/header" %>

<div class="flex justify-between">
  <div>
    <span class=" pt-16 font-bold text-xl">Total Registered:</span> <span class="mr-8 text-xl"><%= @clinic.patients.size %> </span>
    <span class="font-bold ml-8 text-xl">Social Distancing Capacity:</span> <span class="text-xl"> <%= @clinic.active_queue_patients_count %> </span>
    <%= link_to "(update)", clinic_edit_queue_path(clinic_id: @clinic), class: "underline text-blue-500" %>
  </div>
  <div data-controller="provider-enrollment-new-entry">
    <% if @clinic.upcoming? %>
      <%= link_to "Send Reminder Messages",
        send_check_in_reminders_clinic_queued_patients_path(clinic_id: @clinic),
        data: {confirm: "Are you sure you want to send a reminder message to all patients?"},
        class: "button-action",
        method: 'post'
      %>
    <% end %>

    <% @clinic.available_event_names.each do |event| %>
      <%# TODO: Extract to helper %>
        <% button_label = event.titleize %>
        <% button_label = "Close Clinic" if event == "close" %>
        <% button_label = "Open Clinic" if event == "open" %>
       <%= link_to button_label, "Javascript:", class: "button-action", 
          data: { action: "click->provider-enrollment-new-entry#toggleOpenCheckinModal", event: event, btnlabel: button_label, clinic: @clinic.id, eventcapitalized: event.humanize(capitalize: false) } %>
    <% end %>
    <%= render partial: "queued_patients/popup_modal" %>
  </div>
</div>
<div data-controller="clinic-activity-patients">  
  <div class="flex justify-between mb-6 mt-6">
    <form class="flex items-center">
      <label class="flex text-lg mr-3 align-middle text-gray-600 mb-2" for="search"> Search: </label>
      <input class="form-input" id="search" data-action="keyup->clinic-activity-patients#search" type="text">
    </form> 
    <%= link_to sanitize("Add Patient &#43;"), "javascript:", class: "button-primary", "data-action": "click->clinic-activity-patients#onShowHideCancelModal" %>
    <%= render "queued_patients/add_patient_modal" %>
  </div>

  <div id="queued_patient_list">
    <%= render "patients_view" %>
  </div>
</div>
