<div class="flex mb-4">
  <div class="w-1/2 mr-4">
    <div class="form-question">County</div>
    <%= f.select :county, options_for_select(COUNTIES),{}, class: "w-full form-select block rounded m-1" %>
  </div>
  <div class="w-1/2"></div>
</div>

<div class="flex mb-4">
  <div class="w-1/2 mr-4">
    <label>
      <div class="form-question">First Name</div>
      <%= f.text_field :first_name, disabled: true, class: "w-full form-input block rounded" %>
    </label>
  </div>
  <div class="w-1/2 flex">
    <label class="w-9/12">
      <div class="form-question">Last Name</div>
      <%= f.text_field :last_name, disabled: true, class: "w-11/12 form-input block rounded" %>
    </label>
    <label class="w-3/12">
      <div class="form-question">Middle Initial</div>
      <%= f.text_field :middle_initial, disabled: true, class: "w-full form-input block rounded" %>
    </label>
  </div>
</div>

<div class="flex mb-4">
  <div class="w-1/2 mr-4">
    <label>
      <div class="form-question">Mother's Maiden Name</div>
      <%= f.text_field :mothers_maiden_name, class: "w-full form-input block rounded" %>
    </label>
  </div>
  <div class="w-1/2">
    <label>
      <div class="form-question">Address</div>
      <%= f.text_field :address, class: "w-full form-input block rounded" %>
    </label>
  </div>
</div>

<div class="flex mb-4">
  <div class="w-1/2 mr-4">
    <label>
      <div class="form-question">State</div>
      <%= f.select :state, options_for_select(US_STATES), {}, class: "w-full form-input block rounded" %>
    </label>
  </div>
  <div class="w-1/2 flex">
    <label class="w-1/2">
      <div class="form-question">City</div>
      <%= f.text_field :city, class: "w-11/12 form-input block rounded" %>
    </label>
    <label class="w-1/2">
      <div class="form-question">Zip Code</div>
      <%= f.text_field :zip_code, class: "w-full form-input block rounded" %>
    </label>
  </div>
</div>

<div class="flex mb-4">
  <div class="w-1/2 flex">
    <label class="w-5/12 mr-1">
      <div class="form-question">Date Of Birth</div>
      <%= f.text_field :date_of_birth, class: "w-12/12 form-input block rounded" %>
    </label>
    <label class="w-4/12 mr-1">
      <div class="form-question">Age</div>
      <%= f.text_field :age, class: "w-4/12 form-input block rounded" %>
    </label>
    <label class="w-3/12 mr-4">
      <div class="form-question">Gender</div>
      <%= f.select :sex, [["Male", "M"], ["Female", "F"], ["Other", "O"]], {}, class: "w-full form-input block rounded" %>
    </label>
  </div>
  <div class="w-1/2">
    <label>
      <div class="form-question">Race</div>
      <%= f.select :state, options_for_select(US_RACES), {}, class: "w-full form-input block rounded" %>
    </label>
  </div>
</div>

<div class="flex mb-4">
  <div class="w-1/2 mr-4">
    <label>
      <div class="form-question">Email Address</div>
      <%= f.text_field :email, disabled: true, class: "w-full form-input block rounded" %>
    </label>
  </div>
  <div class="w-1/2">
    <label>
      <div class="form-question">Mobile or Daytime Number</div>
      <%= f.text_field :phone_number, class: "w-full form-input block rounded" %>
    </label>
  </div>
</div>

<div style="border: solid black 1px; height: 150px; width: 300px;">
 <canvas></canvas>
</div>
<%# TODO: Move this into the proper place. %>
<script>
  var canvas = document.querySelector("canvas");
  var signaturePad = new SignaturePad(canvas);
</script>
<button class="rounded-full bg-blue-600 hover:bg-blue-500 text-white px-6 py-3 my-6"> CLICK HERE to sign with your finger or mouse </button> <span class="text-red-500">*</span>

<div class="flex mb-4">
  <div class="w-1/2">
    <%= f.date_field :consent_date, as: :date, value: Date.today, disabled: true, class: "px-4 pb-2 border-b bg-transparent mb-4" %>
    <p class="font-semibold"> Date </p>
  </div>
</div>

<div class="flex mb-4">
  <div class="w-1/2 mr-4">
    <p> Please type your first and last name<br/> <%= f.text_field :first_name, placeholder: "First Name", value: "", class: "form-input" %>  <%= f.text_field :last_name, placeholder: "Last Name", value: "", class: "form-input" %> <span class="text-red-500">*</span></p>
  </div>
  <div class="w-1/2">
    <p> Relationship to Patient<span class="text-red-500">*</span> <%= f.select :relation_to_patient_for_insurance, ["Self","Parent/Guardian","Other"], {}, class: "form-select" %></p>
  </div>
</div>