<%= render 'clinics/header' if @clinic %>

<div class="clinic-patients-index-page">
  <div class="header-section">
    <% unless @clinic %>
      <h1 class="main-title">Patient Record Search</h1>
    <% end %>

    <% if @clinic %>
      <h3>Total Registered: <%= @clinic.patients.size %></h3>
    <% end %>
    
    <div class="flex justify-end my-4 search-inputs-container">
      <%= search_form_for @q, class: "flex items-center w-full" do |f| %>
        <%= f.search_field :first_name_cont, placeholder: "First Name", class: "form-input flex-1 mr-2" %>
        <%= f.search_field :last_name_cont, placeholder: "Last Name", class: "form-input flex-1 mr-2" %>
        <%= f.search_field :mothers_maiden_name_cont, placeholder: "Mother's maiden name", class: "form-input flex-1 mr-2" %>
        <%= f.search_field :date_of_birth_equals, type: "date", placeholder: "Date of birth",
                               class: "form-input flex-1 mr-2", style: "margin-bottom: 0; min-height: 42px; max-height: 42px;",
                               data: {controller: "flatpickr"} %>
        <%= f.submit "Search", class: "button-action" %>
        <%= link_to "Reset", patients_path, class: "button-action" %>
      <% end %>
    </div>
    
  </div>
  <div class="flex justify-end mb-3">
    <a href="javascript:"
       class="button-primary"
       data-action="click->main#printContent">Print</a>
  </div>
  
  <div class="flex flex-col printable">
    <div class="sorting-table-wrapper">
      <div class="sorting-table-container">
        <table class="table">
          <thead>
          <tr>
            <th><%= sort_link(@q, :last_name, 'Name', default_order: :desc) %></th>
            <th><%= sort_link(@q, :date_of_birth, 'Date of Birth', default_order: :desc) %></th>
            <th><%= sort_link(@q, :date_of_birth, 'Age', default_order: :desc) %></th>
            <th><%= sort_link(@q, :sex, 'Gender', default_order: :desc) %></th>
            <th><%= sort_link(@q, :county, 'County', default_order: :desc) %></th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td class="underline"><%= link_to patient.full_name, [@clinic, patient]  %></td>
              <td><%= patient.date_of_birth.strftime("%m/%d/%y") if patient.date_of_birth %></td>
              <td><%= ((Date.today.to_time - patient.date_of_birth.to_time) / 1.year.seconds).floor if patient.date_of_birth %></td>
              <td><%= patient.sex == "F" ? "Female" : "Male" %></td>
              <td><%= patient.county %></td>              
              <td class="w-3/12 text-right table-action-buttons">
                <%= link_to "Event Entry", new_clinic_event_path(clinic_id: @clinic, patient_id: patient.id),
                            class: "button-action" %>
                <%= link_to "Delete", patient, method: :delete, class: "button-action" %>
              </td> 
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!--
  <div class="pagination-section">
    <div class="pagination-container">
      <div class="pagination-info">
        <p><%# page_entries_info @patients %></p>
      </div>
      <div class="pagination-buttons">
        <span class="lg-buttons"><%# will_paginate @patients %></span>
        <span class="sm-buttons"><%# will_paginate @patients, page_links: false %></span>
      </div>
    </div>
  </div> -->
</div>
