<div class="clinic-patients-index-page">
  <div class="header-section">
    <div class="header">
      <h1 class="main-title">Patients Listing
        <% if @clinic %>
          - <%= @clinic.name %>
        <% end %>
        <% if params[:q].present? %>
          - "<%= params[:q] %>"
        <% end %>
      </h1>
      <% if @clinic %>
        <h3>Total Registered: <%= @clinic.patients.size %></h3>
      <% end %>
    </div>
    <div class="flex justify-end">
      <form class="flex w-2/4">
        <input type="text" name="q" value="<%= params[:q] %>" placeholder="Search here" class="input-primary w-full mr-3">
        <input type="submit" value="Search" class="button-primary">
      </form>
    </div>
    
  </div>
  <div class="flex justify-end">
      <form>
        <input type="button" value="Print" onClick="window.print()" class="button-primary">
      </form>
  </div>
  

  <div class="flex flex-col">
    <div class="sorting-table-wrapper">
      <div class="sorting-table-container">
        <table class="table">
          <thead>
          <tr>
            <th><%= sortable "last_name", "Name" %></th>
            <th><%= sortable "date_of_birth", "Date of Birth" %></th>
            <th><%= sortable "date_of_birth", "Age" %></th>
            <th><%= sortable "sex", "Gender" %></th>
            <th><%= sortable "county" %></th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td class="underline"><%= link_to patient.full_name, patient %></td>
              <td><%= patient.date_of_birth.strftime("%m/%d/%y") %></td>
              <td><%= ((Date.today.to_time - patient.date_of_birth.to_time) / 1.year.seconds).floor %></td>
              <td><%= patient.sex == "F" ? "Female" : "Male" %></td>
              <td><%= patient.county %></td>              
              <td>
                <%= link_to "Event Entry", new_clinic_event_path(clinic_id: @clinic, patient_id: patient.id),
                            class: "button-primary" %>
                <%= link_to "Delete", patient, method: :delete, class: "button-primary" %>
              </td> 
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!--
  <div class="pagination-section">
    <div class="pagination-container">
      <div class="pagination-info">
        <p><%# page_entries_info @patients %></p>
      </div>
      <div class="pagination-buttons">
        <span class="lg-buttons"><%# will_paginate @patients %></span>
        <span class="sm-buttons"><%# will_paginate @patients, page_links: false %></span>
      </div>
    </div>
  </div> -->
</div>
