<%= render 'clinics/header' if @clinic %>

<div class="clinic-patients-index-page" data-controller="patients">
  <div class="header-section">
    <% unless @clinic %>
      <h1 class="main-title">Find a Record</h1>
    <% end %>


    <% if @clinic %>
     <div class="flex justify-between">
        <div>
          <span class=" pt-16 font-bold text-xl">Number Registered:</span> <span class="mr-8 text-xl"><%= @patients_appointments %> </span>
          <span class=" pt-16 font-bold text-xl">Waiting List:</span> <span class="mr-8 text-xl"><%= @patients_waiting_list %> </span>
        </div>
        <div>
          <% if params[:display_patients] == "waiting_list" %>
                <%= link_to 'See all patients', patients_path(clinic_id: @clinic.id), class: "button-action" %>
          <% else %>
                <%= link_to 'See Patients On Waiting List', patients_path(clinic_id: @clinic.id, display_patients: "waiting_list"), class: "button-action" %>
          <% end %>
        </div>
     </div>
      <div class="w-full flex justify-between items-center mt-8">
        <div class="flex items-center w-3/12">
          <label class="text-lg mr-3 text-gray-600" for="search"> Search: </label>
          <input class="form-input flex-1" id="search" data-action="keyup->patients#search" type="text">
        </div>
        <div class="flex items-end">
          <% if @clinic %>
            <% if @clinic.appointments.where("on_waiting_list = ?", true).empty? %>
                <button type="button" diabled="disabled" class="button-disabled" title="Waiting List is empty"> Download Waiting List </button>
            <% else %>
                <%= link_to "Download Waiting List", patients_path(format: :xlsx), class: "button-primary" %>
            <% end %>
          <% end %>
          <%= link_to "Download Registration List", clinic_patients_path(clinic_id: @clinic.id, format: :csv), class: "button-primary" %><br/>
          <a href="javascript:" class="button-primary" data-action="click->main#printContent">Print</a>
        </div>

      </div>
    <% else %>
      <div class="flex justify-start my-4 search-inputs-container">
        <%= search_form_for @q, class: "flex items-start" do |f| %>
          <%= f.search_field :first_name_cont, type: "text", placeholder: "First Name", class: "form-input mr-2 w-2/12" %>
          <%= f.search_field :last_name_cont, type: "text", placeholder: "Last Name", class: "form-input w-2/12 mr-2" %>
          <%= f.search_field :date_of_birth_equals, type: "date", placeholder: "Date of Birth", value: @q.date_of_birth_equals.try(:strftime, "%Y/%m/%d"),
                               class: "form-input w-2/12 mr-2",
                               data: {controller: "flatpickr"} %>
          <%= f.search_field :mothers_maiden_name_cont, type: "text", placeholder: "Mother's Maiden Name", class: "form-input w-3/12 mr-2" %>
          <%= f.submit "Search", class: "button-action" %>
          <%= link_to "Reset", patients_path, class: "button-action" %>
        <% end %>
        <a href="javascript:"
          class="button-primary"
          data-action="click->main#printContent">Print</a>
      </div>
    <% end %>
  </div>


  <div class="flex flex-col printable mt-8">
    <div class="sorting-table-wrapper">
      <div class="sorting-table-container" data-controller="clinic-activity-patients">
        <table class="table">
          <thead>
          <tr>
            <th><%= sort_link(@q, :last_name, 'Name', default_order: :desc) %></th>
            <th><%= sort_link(@q, :date_of_birth, 'Date of Birth', default_order: :desc) %></th>
            <th><%= sort_link(@q, :date_of_birth, 'Age', default_order: :desc) %></th>
            <th><%= sort_link(@q, :sex, 'Gender', default_order: :desc) %></th>
            <% if @clinic %>
            <th><%= sort_link(@q, :appointment_at, 'Appointment', default_order: :desc) %></th>
            <% end %>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <% @patients.each do |patient| %>
            <% unless patient.appointments.empty? %>
              <tr data-target="patients.searchableRow" data-search-content="<%= [patient.first_name.downcase, patient.last_name.downcase, patient.county, patient.date_of_birth.strftime("%m/%d/%y")].join(" ") %>" data-patient-id="<%= patient.id %>">
                <td class="underline"><%= link_to patient.full_name, [@clinic, patient]  %></td>
                <td><%= patient.date_of_birth.strftime("%m/%d/%y") if patient.date_of_birth %></td>
                <td><%= ((Date.today.to_time - patient.date_of_birth.to_time) / 1.year.seconds).floor if patient.date_of_birth %></td>
                <td><%= patient.sex == "F" ? "Female" : "Male" %></td>
                <% if @clinic %>
                    <td><%= patient.appointments.last.on_waiting_list? ? "Waiting List" : patient.appointments.last.appointment_at.strftime("%I:%M %p") %></td>
                <% end %>
                <td class="w-4/12 text-right table-action-buttons">
                  <% if @clinic %>
                    <%= link_to "Invite", invite_patient_to_register_path(patient_id: patient.id), class: "button-action" if patient.appointments.last.on_waiting_list? %>
                    <%= link_to "View Consent", clinic_patient_path(@clinic, patient, format: :pdf), class: "button-action" %>
                  <% else %>
                    <%= link_to "Enter Encounter", new_clinic_event_path(clinic_id: @clinic, patient_id: patient.id),
                                class: "button-action" %>
                  <% end %>
                  <%= link_to "Delete", "javascript:",
                      data: {recordis: "patients", recordid: patient.id, recordname: patient.full_name,
                          action: "click->clinic-activity-patients#showHideDeleteModal"}, class: "button-action" %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
        <%= render "clinics/activity/delete_record_modal" %>
      </div>
    </div>
  </div>
<!--
  <div class="pagination-section">
    <div class="pagination-container">
      <div class="pagination-info">
        <p><%# page_entries_info @patients %></p>
      </div>
      <div class="pagination-buttons">
        <span class="lg-buttons"><%# will_paginate @patients %></span>
        <span class="sm-buttons"><%# will_paginate @patients, page_links: false %></span>
      </div>
    </div>
  </div> -->
</div>
