<div class="clinic-patients-index-page">
  <div class="header-section">
    <div class="header">
      <h1>Patients Listing
        <% if @clinic %>
          - <%= @clinic.name %>
        <% end %>
        <% if params[:q].present? %>
          - "<%= params[:q] %>"
        <% end %>
      </h1>
    </div>
    <div class="search-form">
      <form>
        <input type="text" name="q" value="<%= params[:q] %>" class="search-input">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>

  <div class="flex flex-col">
    <div class="sorting-table-wrapper">
      <div class="sorting-table-container">
        <table class="sorting-table">
          <thead>
          <tr>
            <th><%= link_to "Name", sort: 'last_name' %></th>
            <th><%= link_to "Date of Birth", sort: 'date_of_birth' %></th>
            <th><%= link_to "Gender", sort: 'sex' %></th>
            <th><%= link_to "Address", sort: 'state' %></th>
            <th><%= link_to "Created at", sort: 'created_at' %></th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @patients.each do |patient| %>
            <tr class="<%= "border-none" if patient == @patients.last %>">
              <td class="underline"><%= link_to patient.full_name, @clinic ? clinic_patient_path(@clinic, patient) : clinics_path(patient_id: patient.id) %></td>
              <td><%= patient.date_of_birth.strftime("%m/%d/%y") %></td>
              <td><%= patient.sex == "F" ? "Female" : "Male" %></td>
              <td><%= patient.full_address %></td>
              <td><%= patient.created_at.strftime("%m/%d/%y") %></td>
              <td>
                <%= link_to "Event Entry", new_clinic_event_path(clinic_id: @clinic, patient_id: patient.id),
                            class: "action-button" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="pagination-section">
    <div class="pagination-container">
      <div class="pagination-info">
        <p><%= page_entries_info @patients %></p>
      </div>
      <div class="pagination-buttons">
        <span class="lg-buttons"><%= will_paginate @patients %></span>
        <span class="sm-buttons"><%= will_paginate @patients, page_links: false %></span>
      </div>
    </div>
  </div>
</div>
