<%= render 'clinics/header' if @clinic %>

<div class="clinic-patients-index-page" data-controller="patients">
  <div class="header-section">
    <% unless @clinic %>
      <h1 class="main-title">Patient Record Search</h1>
    <% end %>

    <% if @clinic %>
      <h3>Total Registered: <%= @clinic.patients.size %></h3>
    <% end %>

    <div class="w-full flex justify-between items-center mt-8">
        <div class="flex items-center w-6/12">
            <label class="text-lg mr-3 text-gray-600" for="search"> Search here: </label>
            <input class="form-input flex-1" id="search" data-action="keyup->patients#search" type="text">
        </div>

        <a href="javascript:" class="button-primary" data-action="click->main#printContent">Print</a>
    </div>
    
  </div>
  <div class="flex justify-end mb-3">
    
  </div>
  
  <div class="flex flex-col printable">
    <div class="sorting-table-wrapper">
      <div class="sorting-table-container">
        <table class="table">
          <thead>
          <tr>
            <th><%= sort_link(@q, :last_name, 'Name', default_order: :desc) %></th>
            <th><%= sort_link(@q, :date_of_birth, 'Date of Birth', default_order: :desc) %></th>
            <th><%= sort_link(@q, :date_of_birth, 'Age', default_order: :desc) %></th>
            <th><%= sort_link(@q, :sex, 'Gender', default_order: :desc) %></th>
            <th><%= sort_link(@q, :county, 'County', default_order: :desc) %></th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <% @patients.each do |patient| %>
            <tr data-target="patients.searchableRow" data-search-content="<%= [patient.first_name.downcase, patient.last_name.downcase, patient.date_of_birth.strftime("%m/%d/%y")].join(" ") %>" data-patient-id="<%= patient.id %>">
              <td class="underline"><%= link_to patient.full_name, [@clinic, patient]  %></td>
              <td><%= patient.date_of_birth.strftime("%m/%d/%y") if patient.date_of_birth %></td>
              <td><%= ((Date.today.to_time - patient.date_of_birth.to_time) / 1.year.seconds).floor if patient.date_of_birth %></td>
              <td><%= patient.sex == "F" ? "Female" : "Male" %></td>
              <td><%= patient.county %></td>           
              <td class="w-3/12 text-right table-action-buttons">
                <%= link_to "Event Entry", new_clinic_event_path(clinic_id: @clinic, patient_id: patient.id),
                            class: "button-action" %>
                <%= link_to "Delete", patient, method: :delete, class: "button-action" %>
              </td> 
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!--
  <div class="pagination-section">
    <div class="pagination-container">
      <div class="pagination-info">
        <p><%# page_entries_info @patients %></p>
      </div>
      <div class="pagination-buttons">
        <span class="lg-buttons"><%# will_paginate @patients %></span>
        <span class="sm-buttons"><%# will_paginate @patients, page_links: false %></span>
      </div>
    </div>
  </div> -->
</div>
