<div class="header">
  <h1 class="main-title lg:mb-0">Patient History</h1>
  <h2 class="text-2xl font-bold text-gray-400 mb-8"><%= @patient.full_name %></h2>
</div>

<div class="flex justify-between items-center mb-3">
  <%= link_to "Back to records", patients_path, class: "button-action" %>
  <a href="javascript:"
     class="button-primary"
     data-action="click->main#printContent">Print</a>
</div>


<table class="table printable">
    <thead>
        <tr>
            <th><%= sortable "clinic_id", "Clinic Id" %></th>
            <th><%= sortable "created_at" %></th>
            <th><%= sortable "category", "Service" %></th>
            <th><%= sortable "outcome", "Status" %></th>
            <th><%= sortable "notes" %></th>
            <th class="table-action-buttons">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @patient_clinic_events.each do |clinic_event| %>
        <tr>
            <td><%= clinic_event.clinic.name %></td>
            <td><%= clinic_event.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= clinic_event.category %></td>
            <td><%= clinic_event.outcome %></td>
            <td><%= clinic_event.notes %></td>
            <td class="table-action-buttons"><%= link_to "Delete", "#", class: "button-action" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="pagination-section">
    <div class="pagination-container">
        <div class="pagination-info">
            <p><%= page_entries_info @patient_clinic_events %></p>
        </div>
        <div class="pagination-buttons">
            <span class="lg-buttons"><%= will_paginate @patient_clinic_events %></span>
            <span class="sm-buttons"><%= will_paginate @patient_clinic_events, page_links: false %></span>
        </div>
    </div>
</div>
