<div class="clinic-patients-show-page">
  <div class="page-header">
    <h1>Patient History</h1>
  </div>


  <div class="flex flex-col">
    <div class="sorting-table-wrapper">
      <div class="sorting-table-container">
        <table class="sorting-table">
          <thead>
          <tr>
            <th><%= link_to "Clinic Name", sort: 'clinic.name' %></th>
            <th><%= link_to "Created at", sort: 'created_at' %></th>
            <th><%= link_to "Service", sort: 'category' %></th>
            <th><%= link_to "Status", sort: 'outcome' %></th>
            <th><%= link_to "notes", sort: 'notes' %></th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @patient_clinic_events.sort_by(&:created_at).each do |clinic_event| %>
            <tr class="<%= "border-none" if clinic_event == @patient.clinic_events.sort_by(&:created_at).last %>">
              <td><%= clinic_event.clinic.name %></td>
              <td><%= clinic_event.created_at.strftime("%m/%d/%Y") %></td>
              <td><%= clinic_event.category %></td>
              <td><%= clinic_event.outcome %></td>
              <td><%= clinic_event.notes %></td>
              <td><%= link_to "Delete", "#", class: "action-button" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="pagination-section">
    <div class="pagination-container">
      <div class="pagination-info">
        <p><%= page_entries_info @patient_clinic_events %></p>
      </div>
      <div class="pagination-buttons">
        <span class="lg-buttons"><%= will_paginate @patient_clinic_events %></span>
        <span class="sm-buttons"><%= will_paginate @patient_clinic_events, page_links: false %></span>
      </div>
    </div>
  </div>
</div>
