<h1 class="main-title">Patient History</h1>

<form class="flex justify-end mb-6">
    <input type="button" value="Print" onClick="window.print()" class="button-primary">
</form>

<table class="table">
    <thead>
        <tr>
            <th><%= sortable "clinic_id", "Clinic Id" %></th>
            <th><%= sortable "created_at" %></th>
            <th><%= sortable "category", "Service" %></th>
            <th><%= sortable "outcome", "Status" %></th>
            <th><%= sortable "notes" %></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @patient_clinic_events.each do |clinic_event| %>
        <tr>
            <td><%= clinic_event.clinic.name %></td>
            <td><%= clinic_event.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= clinic_event.category %></td>
            <td><%= clinic_event.outcome %></td>
            <td><%= clinic_event.notes %></td>
            <td><%= link_to "Delete", "#", class: "button-action" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="pagination-section">
    <div class="pagination-container">
        <div class="pagination-info">
            <p><%= page_entries_info @patient_clinic_events %></p>
        </div>
        <div class="pagination-buttons">
            <span class="lg-buttons"><%= will_paginate @patient_clinic_events %></span>
            <span class="sm-buttons"><%= will_paginate @patient_clinic_events, page_links: false %></span>
        </div>
    </div>
</div>