<div class="clinic-patients-index-page">
  <div class="header-section">
    <div class="header">
      <h1 class="main-title">Upload Records
        <% if @clinic %>
          - <%= @clinic.name %>
        <% end %>
        <% if params[:q].present? %>
          - "<%= params[:q] %>"
        <% end %>
      </h1>
      <% if @clinic %>
        <h3>Total Registered: <%= @clinic.patients.size %></h3>
      <% end %>
    </div>

    <div class="w-1/4">
      <%= link_to "All Students Report", "#", class: "block text-blue-600 text-sm underline mb-6" %>
      <%= link_to "View/Download Upload File Format", "#", class: "block text-blue-600 text-sm underline mb-6" %>
    </div>
    
    <form data-controller="upload-records">
      <div class="flex flex-row w-full items-center justify-start">
        <div class="inline w-1/6 mr-2">
          <label class="text-gray-500 text-xl">Select County</label>
          <%= select_tag :county, options_for_select(COUNTIES, selected: 'Please Select'), {class: "block form-select w-full"} %>
        </div>
        <div class="inline w-1/6 mr-2">
          <label class="text-gray-500 text-xl">Location</label>
          <%= select_tag :clinic, options_for_select(Clinic.all.map(&:venue_name), selected: 'Please Select'), {class: "block form-select w-full"} %>
        </div>
        <%= file_field :file, "select-file", class: "mt-3 mr-2", data: {action: "change->upload-records#showRemoveButton", target: "upload-records.selectFileInput"} %>

      <div class="flex w-1/6 mt-3 mr-2 hidden" data-target="upload-records.removeButton">
        <%= link_to "Remove", "", class: "button-primary lg:min-w-full lg:max-w-full", data: { action: "click->upload-record#removeUploadedFile"} %>
      </div>
      <div class="flex w-1/6 mt-3 mr-2 hidden" data-target="upload-records.submitButton">
        <%= link_to "Submit", "", class: "button-primary lg:min-w-full lg:max-w-full" %>
      </div>
    </form>
  </div>

<!--
  <div class="pagination-section">
    <div class="pagination-container">
      <div class="pagination-info">
        <p><%# page_entries_info @patients %></p>
      </div>
      <div class="pagination-buttons">
        <span class="lg-buttons"><%# will_paginate @patients %></span>
        <span class="sm-buttons"><%# will_paginate @patients, page_links: false %></span>
      </div>
    </div>
  </div> -->
</div>
