
<div class="sessions-container container">
  <div class="logo-headers">
    <div class="mpp-logo"><%= image_tag 'logo.png' %></div>
    <div class="msp-logo"><%= image_tag 'msp.png' %></div>
  </div>
  <div class="login-section">
    <div class="header">
      <h2>Login</h2>
    </div>
    <div class="login-inner-container">
      <div class="wizard-logo"><%= image_tag 'clinicwizard_white_bg.png' %></div>
      <div class="form-container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f| %>
          <div class="field">
           <span><%= image_tag 'mail.png' %></span> <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address" %>
          </div>

          <div class="field">
           <span class="lock-icon"> <%= image_tag 'lock.png' %></span> <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
          </div>

            <div class="links-field">
              <%# render "devise/shared/links" %>
              <%= link_to 'Sign up', new_user_registration_path, class: "links" %>
              <%= link_to 'Forgot password?', new_user_password_path, class: "links" %>
            </div>

          <div class="actions">
              <%= f.submit 'Login', class: "login-button" %> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>