<h1 class="main-title"> Business Enrollments </h1>

<div class="flex justify-end mb-6">
    <%= link_to "Add new Employer", new_employer_path, class: "button-primary" %>
</div>

<table class="table">
    <thead>
        <tr>
            <th> Full Name </th>
            <th> Company Name </th>
            <th> Address </th>
            <th> Total Employees </th>
            <th> Total Locations </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <% @employers.each do |employer| %>
            <tr>
                <td> <%= employer.first_name %> <%= employer.last_name %> </td>
                <td> <%= employer.company_name %> </td>
                <td> <%= employer.address_1 %> </td>
                <td> <%= employer.patients.size %> </td>
                <td> <%= employer.total_locations %> </td>
                <td> <%= link_to "Daily Activity", activity_employer_path(employer), class: "button-action" %> </td>
            </tr>
        <% end %>
    </tbody>
</table>