<h1 class="main-title"> Request to Receive COVID-19 About Your Employees or Students </h1>

<%= form_with model: @employer, local: true do |f| %>
    <div class="field-fullwidth">
        <p class="title">What information are you seeking about individuals affiliated with your organization? (Select all that apply) <span class="field-required">*</span></p>
        <div class="w-full checkboxes-container">
            <div>
                <span> <%= f.check_box :screening_info, class: "form-checkbox" %> </span>
                <span> <%= f.label :screening_info, "COVID-19 Screening" %> </span>
            </div>
            <div>
                <span> <%= f.check_box :testing_info, class: "form-checkbox" %> </span>
                <span> <%= f.label :testing_info, "COVID-19 Testing" %> </span>
            </div>
            <div>
                <span> <%= f.check_box :vacination_info, class: "form-checkbox" %> </span>
                <span> <%= f.label :vacination_info, "COVID-19 Vaccination" %> </span>
            </div>
            <div class="w-full flex flex-col">
                <p class="title"> OR </p>
                <%= f.label :other_info, "Other", class: "block w-full" %>
                <%= f.text_area :other_info, placeholder: "Enter Details Here", class: "form-textarea w-full" %>
            </div>
        </div>
    </div>

    <div class="field-fullwidth">
        <p class="title"> Business Location/Environment (Select all that apply) </p>
        <%= f.label :business_locations, "Business Location/Environment", class: "block w-full" %>
        <%= f.select :business_locations, BUSINESS_LOCATIONS, {prompt: "Select"}, {multiple: true, class: "form-select w-full"} %>
    </div>

    <div class="field-fullwidth">
        <p class="title"> Contact Details </p>
        <div class="grid grid-cols-3 gap-4">
            <div>
                <%= f.label :first_name, "First Name", class: "block" %>
                <%= f.text_field :first_name, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :last_name, "Last Name", class: "block" %>
                <%= f.text_field :last_name, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :position, "Position/Title", class: "block" %>
                <%= f.text_field :position, class: "form-input w-full" %>
            </div>
            <!-- <div>
                <%# f.label :company_name, "Company Name", class: "block" %>
                <%# f.text_field :company_name, class: "form-input w-full" %>
            </div> -->
        </div>

        <div class="grid grid-cols-5 gap-4">
            <div>
                <%= f.label :address_1, "Address 1", class: "block" %>
                <%= f.text_field :address_1, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :address_2, "Address 2", class: "block" %>
                <%= f.text_field :address_2, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :city, class: "block" %>
                <%= f.text_field :city, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :state, class: "block" %>
                <%= f.text_field :state, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :zip_code, "Zip Code", class: "block" %>
                <%= f.text_field :zip_code, class: "form-input w-full" %>
            </div>
        </div>

        <div class="grid grid-cols-4 gap-4">
            <div>
                <%= f.label :office_phone, "Office Phone Number", class: "block" %>
                <%= f.text_field :office_phone, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :mobile_phone, "Mobile Phone Name", class: "block" %>
                <%= f.text_field :mobile_phone, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :email, "Email Address", class: "block" %>
                <%= f.email_field :email, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :website, "Website", class: "block" %>
                <%= f.text_field :website, class: "form-input w-full" %>
            </div>
        </div>
    </div>

    <!-- Back up Contact Info -->
    <div class="field-fullwidth">
        <p class="title"> Back-Up Contact's Details </p>
        <div class="grid grid-cols-3 gap-4">
            <div>
                <%= f.label :backup_first_name, "Back-Up Contact's First Name", class: "block" %>
                <%= f.text_field :backup_first_name, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :backup_last_name, "Back-Up Contact's Last Name", class: "block" %>
                <%= f.text_field :backup_last_name, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :backup_position, "Back-Up Contact's Position/Title", class: "block" %>
                <%= f.text_field :backup_position, class: "form-input w-full" %>
            </div>
        </div>

        <div class="grid grid-cols-6 gap-4">
            <div>
                <%= f.label :backup_company_name, "Company Name", class: "block" %>
                <%= f.text_field :backup_company_name, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :backup_address_1, "Address 1", class: "block" %>
                <%= f.text_field :backup_address_1, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :backup_address_2, "Address 2", class: "block" %>
                <%= f.text_field :backup_address_2, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :backup_city, "City", class: "block" %>
                <%= f.text_field :backup_city, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :backup_state, "State", class: "block" %>
                <%= f.text_field :backup_state, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :backup_zip_code, "Zip Code", class: "block" %>
                <%= f.text_field :backup_zip_code, class: "form-input w-full" %>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-4">
            <div>
                <%= f.label :backup_office_phone, "Office Phone Number", class: "block" %>
                <%= f.text_field :office_phone, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :backup_mobile_phone, "Mobile Phone Name", class: "block" %>
                <%= f.text_field :mobile_phone, class: "form-input w-full" %>
            </div>
            <div>
                <%= f.label :backup_email, "Email Address", class: "block" %>
                <%= f.text_field :backup_email, class: "form-input w-full" %>
            </div>
        </div>
    </div>

    <div class="field-side-by-side">
        <div>
            <p class="title">Employee Info </p>
            <%= f.label :total_employees, "Total Number of Employees", class: "block" %>
            <%= f.text_field :total_employees, class: "form-input w-full" %>
        </div>
        <div>
            <p class="title">Location Info </p>
            <%= f.label :total_locations, "Total Number of Locations", class: "block" %>
            <%= f.text_field :total_locations, class: "form-input w-full" %>
        </div>
    </div>

    <div class="flex justify-end">
        <%= f.submit "Submit Request", class: "button-primary" %>
        <%= link_to "Cancel", pages_landing_page_path, class: "button-primary" %>
    </div>
<% end %>