<h1 class="main-title"><%= t "devise.invitations.new.header" %></h1>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, class: "mb-8" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%# resource.class.invite_key_fields.each do |field| -%>
        <div class="field-side-by-side">
            <div>
                <%= f.label :first_name, class: "block" do %>
                    <span> First Name </span>
                    <span class="field-required">*</span>
                <% end %>
                <%= f.text_field :first_name, class: "form-input w-full", required: true %>

                <%= f.label :last_name, class: "block" do %>
                    <span> Last Name </span>
                    <span class="field-required">*</span>
                <% end %>
                <%= f.text_field :last_name, class: "form-input w-full", required: true %>

                <%= f.label :email, class: "block" do %>
                    <span> Email </span>
                    <span class="field-required">*</span>
                <% end %>
                <%= f.email_field :email, class: "form-input w-full", required: true %>

                <%= f.label :venues, class: "block" do %>
                    <span> Assigned Venue </span>
                    <span class="field-required">*</span>
                <% end %>
                <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 lg:gap-2">
                    <% VENUE_TYPES.each do |venue| %>
                        <div class="relative flex items-start mb-4">
                            <div class="absolute flex items-center h-5">
                                <%= f.check_box(:venues, {multiple: true, id: "venue_#{venue}", class: "form-checkbox"}, venue) %>
                            </div>
                            <div class="pl-2 ml-4 text-sm leading-5">
                                <label for="venue_<%=venue%>"> <%= venue %> </label>
                            </div>
                        </div>
                    <% end %>
                </div>

                <%= f.label :role, class: "block" do %>
                    <span> Role </span>
                    <span class="field-required">*</span>
                <% end %>
                <%= f.select :role, USER_ROLES, {prompt: "Select"}, {class: "form-select w-full", required: true} %>
            </div>
            <div></div>
        </div>
    <%# end -%>

    <div class="actions">
        <%= f.submit t("devise.invitations.new.submit_button"), class: "button-primary" %>
    </div>
<% end %>
