<p class="font-bold mb-4"> <%= t 'views.public.patients.review.health_questions_school.title' %> </p>
<div class="field-side-by-side">
    <div>
        <p> <%= t 'views.public.patients.review.health_questions_school.allergies' %> </p>
        <p class="font-bold"> <%= patient.has_child_allergies %> </p>
    </div>
    <div>
        <p> <%= t 'views.public.patients.review.health_questions_school.vaccine_reaction' %> </p>
        <p class="font-bold"> <%= patient.has_child_serious_reaction_to_vaccine %> </p>
    </div>
</div>

<div class="field-side-by-side">
    <div>
        <p> <%= t 'views.public.patients.review.health_questions_school.immune_system_problem' %> </p>
        <p class="font-bold"> <%= patient.has_child_immune_system_problem %> </p>
    </div>
    <div>
        <p> <%= t 'views.public.patients.review.health_questions_school.pregnant' %> </p>
        <p class="font-bold"> <%= patient.is_child_pregnant_or_possible_to_become %> </p>
    </div>
</div>

<div class="field-side-by-side">
    <div>
        <p> <%= t 'views.public.patients.review.health_questions_school.vaccinated' %> </p>
        <p class="font-bold"> <%= patient.has_child_been_vaccinated_last_four_weeks %> </p>
    </div>
    <div> </div>
</div>