<p> <%# t('views.public_patient_mailer.request_confirmation.title', name: @clinic.services.pluck(:name).join(", ")) %></b> </p>

<p>
    <%= t('views.public_patient_mailer.request_confirmation.title', first_name: @patient.first_name[0], middle_initial: @patient.middle_initial, last_name: @patient.last_name) %>,
    <%= t('views.public_patient_mailer.request_confirmation.family', family_members: @patient.patient_family_members.select([:first_name, :middle_initial, :last_name]).map{ |m| "#{m.first_name[0]} #{m.middle_initial} #{m.last_name}" }.join(", ")) %>
    <br />
    <br />
    <b><%= t'views.public_patient_mailer.request_confirmation.date' %></b> <%= @appointment.appointment_at ? @appointment.appointment_at.strftime("%m-%d-%Y") : "On Waiting List" %>,
    <br />
    <b><%= t'views.public_patient_mailer.request_confirmation.time'%></b> <%= @appointment.appointment_at ? @appointment.appointment_at.strftime("%H:%M %p") : "On Waiting List" %>,
    <br />
    <b><%= t('views.public_patient_mailer.request_confirmation.location', address: @clinic.address) %>.
</p>

<p> <%= t'views.public_patient_mailer.request_confirmation.click'%>
    <%= link_to "here", cancel_appointment_clinic_queued_patients_url(cancel_appointment: @cancel_appointment, clinic_id: @clinic.id) %>
    <br />
    <%= t'views.public_patient_mailer.request_confirmation.reschedule' %>
    <%= link_to 'http://localhost:3000',  ENV['SITE_URL'] %>
</p>


<p> <%= t'views.public_patient_mailer.request_confirmation.end'%>
    <br />
    <%= t'views.public_patient_mailer.request_confirmation.provider', provider_name: ENV['PROVIDER_NAME'] || "Provider" %>
</p>