<p> Thank you for registering for <b><%= @clinic.services.pluck(:name).join(", ") %></b>. </p>

<p> 
    <%= @patient.full_name %>, 
    <%= @patient.patient_family_members.select([:first_name, :last_name]).map{ |m| "#{m.first_name} #{m.last_name}" }.join(", ") %>
    are scheduled for:
    <br />
    <br />
    <b>Date:</b> <%= @appointment.appointment_at ? @appointment.appointment_at.strftime("%m-%d-%Y") : "On Waiting List" %>,
    <br />
    <b>Time:</b> <%= @appointment.appointment_at ? @appointment.appointment_at.strftime("%H:%M %p") : "On Waiting List" %>,
    <br />
    <b>Location:</b> <%= @clinic.address %>.
</p>

<p> If you cannot, make this appointment, click
    <%= link_to "here", cancel_appointment_clinic_queued_patients_url(appointment_id: @appointment.id, clinic_id: @clinic.id) %>
    to cancel.
</p>

<p> Thank you</p>