<div class="bg-gray-50 overflow-hidden">
    <div class="relative max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:px-8" id="homeServicesSection">
        <svg class="absolute top-0 left-full transform -translate-x-1/2 -translate-y-3/4 lg:left-auto lg:right-full lg:translate-x-2/3 lg:translate-y-1/4"
            width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
                <pattern id="8b1b5f72-e944-4457-af67-0c6d15a99f38" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#8b1b5f72-e944-4457-af67-0c6d15a99f38)" />
        </svg>

        <div class="relative lg:grid lg:grid-cols-3 lg:col-gap-8">
            <div class="lg:col-span-1">
                <h3 class="xl:text-4xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                    Which C-19 service would you like?
                </h3>
            </div>
            <div class="mt-10 sm:grid sm:grid-cols-2 sm:col-gap-8 sm:row-gap-10 lg:col-span-2 lg:mt-0">
                <div class="flex flex-col">
                    <div class="mb-5">
                        <h5 class="xl:text-3xl lg:text-xl leading-6 font-bold text-gray-900">News & Notifications</h5>
                        <p class="mt-2 text-xl text-base leading-6 text-gray-500">
                            Sign Up for News and Notifications to get the latest on C-19.
                        </p>
                    </div>
                    <div class="self-end flex items-center justify-center py-3 px-8 xl:text-3xl xl:py-2 lg:text-xl rounded-md bg-indigo-600 hover:bg-indigo-500 text-white">
                        <%= link_to "Subscribe", new_news_signup_path %>
                    </div>
                </div>
                <div class="mt-10 sm:mt-0 flex flex-col">
                    <div class="mb-5">
                        <h5 class="lg:text-3xl lg:text-xl leading-8 font-bold text-gray-900">Testing - I have a referral code </h5>
                        <p class="mt-2 text-base text-xl leading-6 text-gray-500">
                            You must have a referral code to schedule a testing appointment.
                        </p>
                    </div>
                    <div class="self-end flex items-center justify-center py-3 px-8 xl:text-3xl lg:text-xl rounded-md bg-indigo-600 hover:bg-indigo-500 text-white">
                        <%= link_to "Schedule Testing", "/client/registration" %>
                    </div>
                </div>
                <div class="mt-10 sm:mt-0 flex flex-col">
                    <div class="mb-5">
                        <h5 class="xl:text-3xl lg:text-xl leading-8 font-bold text-gray-900"> Testing - I DO NOT have a referral code </h5>
                        <p class="mt-2 text-base leading-6 text-gray-500">
                            At this time, we are not testing the general public.  Fill out this form and we will notify you when testing is available.
                        </p>
                    </div>
                    <div class="self-end flex items-center justify-center py-3 px-8 xl:text-3xl lg:text-xl rounded-md bg-indigo-600 hover:bg-indigo-500 text-white">
                        <%= link_to "Schedule Testing", new_news_signup_path %>
                    </div>
                </div>
                <div class="mt-10 sm:mt-0 flex flex-col">
                    <div class="mb-5">
                        <h5 class="xl:text-3xl lg:text-xl leading-6 font-bold text-gray-900"> COVID-19 Safety Kit </h5>
                        <p class="mt-2 text-base text-xl leading-6 text-gray-500">
                            Find COVID-19 Safety Kit.
                        </p>
                    </div>
                    <div class="self-end flex items-center justify-center py-3 px-8 xl:text-3xl lg:text-xl rounded-md bg-indigo-600 hover:bg-indigo-500 text-white">
                        <%= link_to "Find Safety Kit", "" %>
                    </div>
                </div>
                <div class="mt-10 sm:mt-0 flex flex-col">
                    <div class="mt-5">
                        <h5 class="xl:text-3xl lg:text-lg leading-6 font-bold text-gray-900"> Request Service </h5>
                        <p class="mt-2 text-base text-xl leading-6 text-gray-500 xl:mb-4">
                            For Healthcare Providers.
                        </p>
                    </div>
                    <div class="self-end flex items-center justify-center py-3 px-8 xl:text-3xl lg:text-xl rounded-md bg-indigo-600 hover:bg-indigo-500 text-white">
                        <%= link_to "Request Service", "" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>