<div class="bg-gray-50 overflow-hidden">
    <div class="relative max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:px-8" id="homeServicesSection">
        <div class="container">
            <div class="w-full text-center mb-6">
                <h3 class="leading-9 font-extrabold tracking-tight text-gray-700 xl:text-5xl xl:mb-4 sm:text-4xl sm:leading-10">
                    Which C-19 service would you like?
                </h3>
            </div>
            <div class="mt-10 sm:grid sm:grid-cols-3 sm:col-gap-10 sm:row-gap-10 lg:col-span-2 lg:mt-16">
                <div class="flex flex-col pb-4">
                    <div class="mb-0">
                        <h5 class="tracking-tight lg:leading-8 xl:text-3xl lg:text-xl md:text-lg font-bold text-gray-700">News & <br/> Notifications</h5>
                        <p class="my-4 sm:text-lg lg:text-xl lg:leading-6 md:text-lg text-gray-500 text-justify">
                            Sign Up for News and Notifications to get the latest on C-19.
                        </p>
                    </div>
                    <div class="flex justify-center lg:w-2/4 md:w-full py-2 text px-8 mt-auto mb-0 xl:text-lg lg:text-base rounded-md bg-indigo-600 hover:bg-indigo-500 text-white border-2"
                         style="background-color:  #2699FB; border-color: #BCE0FD;">
                        <%= link_to "Sign Up", new_news_signup_path %>
                    </div>
                </div>
                <div class="flex flex-col pb-4">
                    <div class="mb-0">
                        <h5 class="tracking-tight lg:leading-8 xl:text-3xl lg:text-xl md:text-lg font-bold text-gray-700">Testing - I have a referral code </h5>
                        <p class="my-4 sm:text-lg lg:text-xl lg:leading-6 md:text-lg text-gray-500 text-justify">
                            You must have a referral code to schedule a testing appointment.
                        </p>
                    </div>
                    <div class="flex justify-center lg:w-2/4 md:w-full py-2 text px-8 mt-auto mb-0 xl:text-lg lg:text-base rounded-md bg-indigo-600 hover:bg-indigo-500 text-white border-2"
                         style="background-color:  #2699FB; border-color: #BCE0FD;">
                        <%= link_to "Sign Up", "/client/registration" %>
                    </div>
                </div>
                <div class="flex flex-col pb-4">
                    <div class="mb-0">
                        <h5 class="tracking-tight lg:leading-8 xl:text-3xl lg:text-xl font-bold text-gray-700"> Testing - I DO NOT have a referral code </h5>
                        <p class="my-4 sm:text-lg lg:text-xl lg:leading-6 md:text-lg text-gray-500 text-justify">
                            At this time, we are not testing the general public.  Fill out this form and we will notify you when testing is available.
                        </p>
                    </div>
                    <div class="flex justify-center lg:w-2/4 md:w-full py-2 text px-8 mt-auto mb-0 xl:text-lg lg:text-base rounded-md bg-indigo-600 hover:bg-indigo-500 text-white border-2"
                         style="background-color:  #2699FB; border-color: #BCE0FD;">
                        <%= link_to "Sign Up", new_news_signup_path %>
                    </div>
                </div>
                <div class="flex flex-col pb-4">
                    <div class="mb-0">
                        <h5 class="tracking-tight lg:leading-8 xl:text-3xl lg:text-xl font-bold text-gray-700"> COVID-19 Safety Kit </h5>
                        <p class="my-4 sm:text-lg lg:text-xl lg:leading-6 md:text-lg text-gray-500 text-justify">
                            Find COVID-19 Safety Kit.
                        </p>
                    </div>
                    <div class="flex justify-center lg:w-2/4 md:w-full py-2 text px-8 mt-auto mb-0 xl:text-lg lg:text-base rounded-md bg-indigo-600 hover:bg-indigo-500 text-white border-2"
                         style="background-color:  #2699FB; border-color: #BCE0FD;">
                         <%= link_to "Sign Up", "/clinic/search" %>
                    </div>
                </div>
                <div class="flex flex-col pb-4">
                    <div class="mb-0">
                        <h5 class="tracking-tight lg:leading-8 xl:text-3xl lg:text-lg font-bold text-gray-700"> Provider Enrollment </h5>
                        <p class="my-4 sm:text-lg lg:text-xl lg:leading-6 md:text-lg text-gray-500 lg:text-justify">
                            For Healthcare Providers.
                        </p>
                    </div>
                    <div class="flex justify-center lg:w-2/4 md:w-full py-2 text px-8 mt-auto mb-0 xl:text-lg lg:text-base rounded-md bg-indigo-600 hover:bg-indigo-500 text-white border-2"
                         style="background-color:  #2699FB; border-color: #BCE0FD;">                     
                        <%= link_to "Sign Up", "" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>