<div class="field-side-by-side">
    <div>
        <%= f.label :county, class: "block" %>
        <%= f.select :county, options_for_select(COUNTIES),{}, class: "w-full form-select block" %>
    </div>
    <div>
        <%= f.label :occupation, "Occupation", class: "block" %>
        <%= f.select :occupation, PATIENT_OCCUPATIONS, {prompt: "Select"}, {class: "w-full form-select"} %>
    </div>
</div>

<div class="field-side-by-side">
    <div>
        <%= f.label :first_name, class: "block" %>
        <%= f.text_field :first_name, class: "w-full form-input block" %>
    </div>
    <div class="flex">
        <div class="mr-3">
            <%= f.label :middle_initial, "Middle Initial", class: "block" %>
            <%= f.text_field :middle_initial, class: "w-11/12 form-input block" %>
        </div>
        <div class="flex-1">
            <%= f.label :last_name, "Last Name", class: "block" %>
            <%= f.text_field :last_name, class: "w-full form-input" %>
        </div>
    </div>
</div>

<div class="field-side-by-side">
    <div>
        <%= f.label :mothers_maiden_name, class: "block" %>
        <%= f.text_field :mothers_maiden_name, disabled: true, class: "w-full form-input" %>
    </div>
    <div>
        <%= f.label :address, class: "block" %>
        <%= f.text_field :address, id: "autocomplete", onFocus: "geolocate()", placeholder: "", class: "w-full form-input" %>
        <%= render partial: "public/clinics/google_maps_script" %>
    </div>
</div>

<div class="field-side-by-side">
    <div>
        <%= f.label :state, class: "block" %>
        <%= f.select :state, options_for_select(US_STATES), {}, {class: "w-full form-select", id: "administrative_area_level_1"} %>
    </div>
    <div class="flex">
        <div class="flex-1 mr-3">
            <%= f.label :city, class: "block" %>
            <%= f.text_field :city, id: "locality", class: "form-input w-full" %>
        </div>
        <div class="flex-1">
            <%= f.label :zip_code, "Zip Code", class: "block" %>
            <%= f.text_field :zip_code, id: "postal_code", class: "w-full form-input" %>
        </div>
    </div>
</div>

<div class="field-side-by-side">
    <div class="flex" data-controller="age-calculator">
        <%# TODO: Fix flex for small screen %>
        <div class="mr-3 w-7/12">
            <%= f.label :date_of_birth, "Date of Birth", class: "block" %>
            <div class="flex">
                <%= f.date_select :date_of_birth, {order: [:month, :day, :year], include_blank: true}, disabled: true, class: "form-select flex-auto",
                                        data: {action: "age-calculator#calculateAge", target: "age-calculator.dobField"} %>
            </div>
        </div>
        <div class="mr-3 w-2/12">
            <%= f.label :age, class: "block" %>
            <%= f.text_field :age, disabled: true, class: "form-input w-full flex-wrap", data: {target: "age-calculator.ageField"} %>
        </div>

        <div class="flex-1 w-3/12">
            <%= f.label :sex, "Gender", class: "block w-full" %>
            <%= f.select :sex, [["Male", "M"], ["Female", "F"], ["Other", "O"]], {prompt: "Select"}, {disabled: true, class: "w-full form-select"} %>
        </div>
    </div>
    <div>
        <%= f.label :race, class: "block" %>
        <%= f.select :race, options_for_select(US_RACES), {prompt: "Select"}, {disabled: true, class: "w-full form-select"} %>
    </div>
</div>

<div class="field-side-by-side">
    <div>
        <%# TODO: There's not field in DB called number_of_adults %>
        <%# f.label :number_of_adults, "Number of Adults in Your Household", class: "block" %>
        <%# f.select :number_of_adults, (1..10), {prompt: "Select"}, {class: "w-full form-select"} %>
        <p class="label"> Number of Adults in Your Household </p>
        <%= select_tag :number_of_adults, options_for_select((1..10).to_a), prompt: "Select", class: "w-full form-select" %>
    </div>
    <div>
        <%# f.label :number_of_children, "Number of Children in Your Household", class: "block" %>
        <%# f.select :number_of_children, (1..10), {prompt: "Select"}, {class: "w-full form-select"} %>
        <%# TODO: There's not field in DB called number_of_children %>
        <p class="label"> Number of Children in Your Household </p>
        <%= select_tag :number_of_children, options_for_select((1..10).to_a), prompt: "Select", class: "w-full form-select" %>
    </div>
</div>

<div class="field-side-by-side">
    <div>
        <%= f.label :email, "Email Address", class: "block" %>
        <%= f.text_field :email, class: "w-full form-input", required: true %>
    </div>
    <div>
        <%= f.label :phone_number, "Mobile or Daytime Number", class: "block" %>
        <%= f.text_field :phone_number, class: "w-full form-input" %>
    </div>
</div>

<p class="text-lg text-gray-800 font-medium">I certify that the information provided is correct.</p>

<div class="border border-gray-400 mt-10 mb-4 w-1/2 h-40">
    <canvas style="width:100%; height: 100%;"></canvas>
</div>

<%# TODO: Move this into the proper place. %>
<script>
    
        var canvas = document.querySelector("canvas");
        var ratio =  Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
        var signaturePad = new SignaturePad(canvas);
        var hidden_field = document.getElementById("hidden_signature_data")
        var parent_form = canvas.closest('form')
        parent_form.onsubmit = function() {
            hidden_field.value = signaturePad.toDataURL()
        }

</script>

<div class="field-side-by-side">
    <div>
        <%= f.label :consent_date, "Date", class: "block" %>
        <%= f.text_field :consent_date, value: Date.today.strftime("%m/%d/%y"), disabled: true, class: "form-input w-full" %>
    </div>
    <div> </div>
</div>

<div class="field-side-by-side">
    <div>
        <p class="label"> Please type your first and last name <span class="field-required">*</span></p>
        <div class="flex">
            <%= f.text_field :first_name, placeholder: "First Name", value: "", class: "flex-1 mr-3 form-input" %>
            <%= f.text_field :last_name, placeholder: "Last Name", value: "", class: "flex-1 form-input" %>
        </div>
    </div>
    <div>
        <%= f.label :relation_to_patient_for_insurance, "Relationship to Patient", class: "block" %>
        <%= f.select :relation_to_patient_for_insurance, ["Self","Parent/Guardian","Other"], {}, class: "form-select w-full" %>
    </div>
</div>