<%= render partial: 'reports/reports_header', locals: {title: "Employers"} %>
<p> An accounting of employers engaged in the response by specialty, region,
    number of patients tested, vaccine inventory.</p>
<%= link_to "Download PDF Report", reports_employers_path(format: :pdf), target: "_blank", class: "button-primary w-3/12 mt-3" %>

<div class="grid grid-cols-2 gap-4 mt-8">
    <div class="pr-4 border-r border-gray-100 mr-4">
        <%= pie_chart reports_employers_state_path, donut: true, title: "Employers by state" %>
    </div>
    <div>
        <%= pie_chart reports_employers_patients_tested_company_name_path, donut: true, title: "Patients tested by company name" %>
    </div>
</div>
<div class="w-full mt-8">
    <%= column_chart reports_employers_patients_tested_city_path, donut: true, title: "Patients tested by city" %>
</div>