<div class="justify-between flex">
    <h1 class="main-title justify-start"> Locations </h1>
    <div class="justify-end text-gray-700 mt-4">
        <%= Time.current.time %>
    </div>
</div>
<p class="mb-3"> A summary of activities at testing sites: overall number, number of
    tests administered by location, ratio of available appointments to
    completed appointments, patient demographics. </p>
    <%= link_to "Download PDF Report", reports_locations_path(format: :pdf), target: "_blank", class: "button-primary w-3/12 mt-3 mb-12" %>

<div class="w-6/12 p-4 border border-gray-50 shadow rounded-lg">
    <%= pie_chart reports_appointments_by_county_path, donut: true, title: "Total appointments by county" %>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
    <div class="p-4 border border-gray-50 rounded-lg">
        <%= column_chart reports_available_appointments_by_county_path, title: "Available appointments by county",
            height: "200px",
            discrete: true,
            legend: false,
            library: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            drawOnChartArea: true,
                            color: "#f4f5f7"
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            drawOnChartArea: true,
                            color: "#f4f5f7"
                        }
                    }]
                }
            },
            dataset: {
                barPercentage: 0.6,
            }
        %>
    </div>

    <div class="p-4 border border-gray-50 rounded-lg">
        <%= column_chart reports_completed_appointments_by_county_path, title: "Completed appointments by county",
            height: "200px",
            discrete: true,
            legend: false,
            library: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            drawOnChartArea: true,
                            color: "#f4f5f7"
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            drawOnChartArea: true,
                            color: "#f4f5f7"
                        }
                    }]
                }
            },
            dataset: {
                barPercentage: 0.6,
            }
        %>
    </div>
</div>
