<%= render partial: 'reports/reports_header', locals: {title: "News & Notifications"} %>
<div class="my-10">
    <p class="mb-2"> News and Notification Contact List </p>
    <%= link_to "Generate Contact List in PDF", reports_news_and_notifications_path(format: :pdf), class: "button-action", target: "_blank" %>
    <%= link_to "Generate Contact List in Excel", reports_news_and_notifications_path(format: :xlsx), class: "button-action", target: "_blank" %>
    <%= link_to "Download PDF Report", reports_news_and_notifications_path(format: :pdf, is_report: true), class: "button-action", target: "_blank" %>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
    <div class="p-4 border border-gray-50 rounded-lg ">
        <%= column_chart reports_news_signups_by_occupation_path, title: "Numbers of subscriptions by occupation",
            height: "200px",
            discrete: true,
            legend: false,
            library: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            drawOnChartArea: true,
                            color: "#f4f5f7"
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            drawOnChartArea: true,
                            color: "#f4f5f7"
                        }
                    }]
                }
            },
            dataset: {
                barPercentage: 0.6,
            }
        %>
    </div>
    <div class="p-4 border border-gray-50 rounded-lg ">
        <%= pie_chart reports_news_signups_with_chronic_health_condition_path, donut: true, title: "Subscribers with/without chronic health condition" %>
    </div>
</div>
