<div class="pt-32 pb-5 px-32 bg-white">
    <div class="w-full border-t border-gray-200 mb-8"> </div>
    <div class="flex items-center mb-24">
        <div class="pr-8 mr-8 border-r flex justify-between w-3/4 text-base text-gray-600">
            <div class="flex flex-col">
                <%= link_to "About Us", "", class: "mb-3" %>
                <%= link_to "Contact", "", class: "mb-3" %>
                <%= link_to "Terms & Conditions", "" %>
            </div>

            <div class="flex flex-col">
                <%= link_to "Information", "", class: "mb-3" %>
                <%= link_to "Consent Form", "" %>
            </div>

            <div class="grid grid-cols-3 gap-5 ml-20 items-center">
                <%= image_tag "maryland_partnership_logo.png", class: "mr-12", style: "max-width: 203px; max-height: 57px;" %>
                <%= image_tag "prep-mod.png", class: "mr-12 mt-1", style: "max-width: 182px; max-height: 40px;" %>
                <%= image_tag "multi_state_partnership_logo-edit.png", style: "max-width: 129px; max-height: 73px;" %>
            </div>
        </div>

        <div class="w-1/4 text-gray-600 text-xs">
            <div class="mb-3">
                <h1 class="font-bold"> Maryland Parnership for Prevention, Inc. </h1>
                <p> P.O. Box 702 </p>
                <p> Owings Mills, Maryland 21117 </p>
                <p> Phone: 410-902-4677 </p>
                <p> Fax: 410-902-7771 </p>
                <p> Email: info@immunizemaryland.org </p>
            </div>
            <div class="flex items-center">
                <%= image_tag "fb_logo.png", class: "mr-8" %>
                <%= image_tag "twitter_logo.png", class: "mr-8" %>
                <%= image_tag "instagram_logo.png", class: "" %>
            </div>
        </div>
    </div>

    <p class="text-gray-600 text-xs"> &copy; Vaccine Consent. All Rights Reserved <%= Date.current.year %> </p>
</div>