<div class="px-10 py-6 flex justify-between bg-brand-blue-600">
    <%= image_tag "mpp_logo.png", style: "max-width: 188px; max-height: 53px;" %>

    <div class="text-white flex justify-between items-center text-xl">
        <%= link_to "Home", root_path, class:"mr-12" %>
        <%= link_to "About Us", "", class:"mr-12" %>
        <%= link_to "Information", "", class:"mr-12" %>
        <%= link_to "Consent Form", "", class:"mr-12" %>
        <%= link_to "Contact", "" %>
    </div>
</div> 