<!DOCTYPE html>
<html>
  <head>
    <title>CW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :google_maps_script if content_for?(:google_maps_script) %>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
  </head>

  <body>
    <%= render partial: "layouts/header" unless (action_name == "index" && controller_name == "public_portal") %>
    <!-- These are from devise. This is to be better-handled elsewise -->
    <% if notice || alert %>
    <script>
      alert("<%= notice.to_s + " " + alert.to_s %>")
    </script>
    <% end %>

    <div class="main-container">
        <%= yield %>
    </div>

    <%= render partial: "layouts/footer" unless (action_name == "index" && controller_name == "public_portal") %>
  </body>
</html>
