<!DOCTYPE html>
<html>
  <head>
    <title>CW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :google_maps_script if content_for?(:google_maps_script) %>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
  </head>

  <body data-controller="main">
    <%= render partial: "layouts/flash_message", locals: {message: alert ? "alert" : "notice", flash_message: (alert || notice)} if flash.any? %>

    <div class="main-container">
        <% unless @hide_header %>
          <a href="/"><%= image_tag (ENV['SITE_LOGO'] || 'prep-mod.png'), class: "mt-2 mb-2", style: "max-height: 60px;" %></a>
        <% end %>

        <%= yield %>
    </div>

    <%= render partial: "layouts/footer" unless (action_name == "index" && controller_name == "public_portal") %>
  </body>
</html>
