<!DOCTYPE html>
<html>
  <head>
    <title>CW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head_directives if content_for?(:head_directives) %>
    <%= yield :google_maps_script if content_for?(:google_maps_script) %>
    <%= yield :prevent_unsaved_form_script if content_for?(:prevent_unsaved_form_script) %>
  </head>

  <body data-controller="main">
    <%= render partial: "layouts/flash_message", locals: {message: alert ? "alert" : "notice", flash_message: (alert || notice)} if flash.any? %>

    <div class="main-container">
        <div class="flex justify-between content-end">
          <a href="/clinics"><%= image_tag (ENV['SITE_LOGO'] || 'prep-mod.png'), class: "mt-2 mb-2", style: "max-height: 60px;" %></a>
          <span class="pt-12 pr-10"><strong>Logged In As:</strong> <%= current_user.email %> • 
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-blue-500 underline" %>
          </span>
        </div>
        <div class="flex flex-wrap justify-center items-center text-gray-600 my-12 lg:mx-6 main-links-container">
          <%
            if ENV['OPEN_MARYLAND'] 
              cms_menu = {
                "Home": pages_landing_page_path,
                "Records Search": patients_path,
                "Employer Listing": employers_path,
                "Data Transfer": "/clinic/data_transfer",
                "Upload Records": '/patients/upload_records',
                "Download Records": '/patients/download_records',
                "Inventory Management": supply_inventories_path,
                "Generate Reports": '/pages/reports_menu',
                "Message Board": new_message_path,
                "Create New User": new_user_invitation_path,
                "Change Password": edit_user_registration_path
              }
            else
              cms_menu = {
                "Home": pages_landing_page_path,
                "Create Clinic": new_clinic_path,
                "Upcoming Clinics": clinics_path(clinic_date: 'upcoming'),
                "Past Clinics": clinics_path(clinic_date: 'past'),
                "Records Search": patients_path,
                "Employer Listing": employers_path,
                "Data Transfer": "/clinic/data_transfer",
                "Upload Records": '/patients/upload_records',
                "Download Records": '/patients/download_records',
                "Inventory Management": supply_inventories_path,
                "Generate Reports": '/pages/reports_menu',
                "Customized Reports": '/customized_reports/new',
                "Message Board": new_message_path,
                "Create New User": new_user_invitation_path,
                "Change Password": edit_user_registration_path
              }
            end
          %>
          <% cms_menu.each do |link_name, link_route| %>
            <%
              classes_for_link = "button-tab "
              classes_for_link << "button-tab-active " if current_page?(link_route)
            %>
            <%= link_to link_name, link_route, class: classes_for_link %>
          <% end %>
          
        </div>
        <%= yield %>
    </div>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
