<!DOCTYPE html>
<html>
  <head>
    <title>CW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :google_maps_script if content_for?(:google_maps_script) %>
  </head>

  <body>
    <%= render partial: "layouts/header" %>
    <!-- These are from devise. This is to be better-handled elsewise -->
    <div class="clinic-management-links">
      <a href="/clinics/new">Create Public Clinic</a>
      <a href="/clinics">List Clinics</a>
      <a href="/patients">Patient Registry</a>
      <a href="/patients/new">Refer Patient for Testing</a>
      <a href="#">Upload to ImmuNet</a>
      <a href="#">Upload to Office Ally</a>
      <a href="/message_board/index">Message Board</a>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </div>

    <% if notice || alert %>
    <script>
      alert("<%= notice.to_s + " " + alert.to_s %>")
    </script>
    <% end %>
    <div class="clinic-management-container container"> 
      <%= yield %>
    </div>
  </body>
</html>
