<!DOCTYPE html>
<html>
  <head>
    <title>CW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :google_maps_script if content_for?(:google_maps_script) %>
  </head>

  <body data-controller="main">
    <% if notice || alert %>
      <script>
        alert("<%= notice.to_s + " " + alert.to_s %>")
      </script>
    <% end %>
    <div class="main-container">
        <a href="/clinics"><%= image_tag "prep-mod.png", class: "mt-2 mb-2", style: "max-height: 60px;" %></a>
        <hr class="mb-4">
        <div class="flex flex-wrap justify-center items-center text-gray-600 my-6 lg:mx-24 main-links-container">
          <% 
            cms_menu = {
              "Home": pages_landing_page_path,
              "Create Clinic": new_clinic_path,
              "Upcoming Clinics": clinics_path(clinic_date: 'upcoming'),
              "Past Clinics": clinics_path(clinic_date: 'past'),
              "Records Search": patients_path,
              "Data Transfer": "/clinic/data_transfer",
              "Upload Records": '/clinics/:id/patients/upload_record',
              "Inventory Management": supply_inventories_path,
              "Generate Reports": new_customized_report_path,
              "Message Board": new_message_path,
              "Create New User": new_user_invitation_path,
              "Change Password": edit_user_registration_path
            }
          %>
          <% cms_menu.each do |link_name, link_route| %>
            <%
              classes_for_link = "button-tab "
              classes_for_link << "button-tab-active " if current_page?(link_route)
            %>
            <%= link_to link_name, link_route, class: classes_for_link %>
          <% end %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "button-tab" %>
        </div>
        <%= yield %>
    </div>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
