<!DOCTYPE html>
<html>
  <head>
    <title>CW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :google_maps_script if content_for?(:google_maps_script) %>
  </head>

  <body>
    <%= render partial: "layouts/header" %>
    <!-- These are from devise. This is to be better-handled elsewise -->

    <% if notice || alert %>
    <script>
      alert("<%= notice.to_s + " " + alert.to_s %>")
    </script>
    <% end %>
    <div class="main-container"> 
        <div class="flex flex-wrap justify-center items-center text-gray-600 my-6">
            <%= link_to "Home", pages_landing_page_path, class: "button-tab" %>
            <%= link_to "Create Clinic", new_clinic_path, class: "button-tab" %>
            <%= link_to "Upcoming Clinics", clinics_path(clinic_date: 'upcoming'), class: "button-tab" %>
            <%= link_to "Past Clinics", clinics_path(clinic_date: 'past'), class: "button-tab" %>
            <a class="button-tab" href="#"> Records Search </a>
            <a class="button-tab" href="/clinic/data_transfer">Data Transfer</a>
            <a class="button-tab" href="#">Upload Records</a>
            <a class="button-tab" href="#">Inventory Management</a>
            <%= link_to "Employer Enrollments", employers_path, class: "button-tab" %>
            <a class="button-tab" href="/message_board/index">Message Board</a>
            <%= link_to "Create Users", new_user_invitation_path, class: "button-tab" %>
            <%= link_to "Change Password", edit_user_registration_path, class: "button-tab" %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "button-tab") %>
        </div>
        <%= yield %>
    </div>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
